<!DOCTYPE html>

{% load static %}

{% load i18n %}

<html lang="ru">
    <head>
        <meta charset="utf-8">

        <!-- jQuery & DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/jq-3.6.0/dt-1.12.1/fc-4.1.0/fh-3.2.4/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/se/jq-3.6.0/dt-1.12.1/fc-4.1.0/fh-3.2.4/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>
        
        <!-- fomantic ui -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/transition.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/transition.min.js"></script>

        <!-- Fengyuan Chen's Datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

        <!-- Custom CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <!-- Hack font -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">

        <title>{% block title %}{% endblock %}</title>
    </head>

<body>

<!-- Header -->
<header>
    <div class="ui container">
        <div id="header" class="ui pointing inverted small top fixed borderless menu" style="font-family: Hack">

            <!-- Left side header -->
            <a class="item" href="{% url 'groups:cards' %}"><i class="home large icon"></i></a>
            <a id="toggle" class="item"><h4 style="font-family: Hack">Рейтинг успеваемости ФИЭиГХ</h4></a>

            <!-- Right side header -->
            <div class="right menu">
                <!-- Job time info -->
                <div id="job-time" class="item"></div>
                <!-- FAQ -->
                <a class="item" href="{% url 'archive:help' %}">Справка</a>
                <!-- Search -->
                <div class="item">
                    <form action="{% url 'students:search' %}" method="GET">
                        {% csrf_token %}
                        <div class="ui inverted transparent icon small input">
                            <input name="search" type="search" placeholder="Поиск..." style="font-family: Hack">
                        </div>
                    </form>
                </div>
                <!-- Logged username -->
                {% if user.is_authenticated %}
                    <a class="item" href="{% url 'logout' %}">{% if user.last_name %}{{ user.last_name }}{% else %}{{ user.username }}{% endif %}</a>
                {% else %}
                    <a class="item">Вход</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<nav class="nav">
    <ul>
        <li><a class="header" href="{% url 'groups:cards' %}"><i class="users icon"></i> Группы</a>
        <li><a class="header" href="{% url 'dashboard:dashboard' %}"><i class="calculator icon"></i> Статистика</a>
        <li><a class="header" href="{% url 'students:money' %}"><i class="hand holding usd icon"></i> Стипендия</a>
        <li><a class="header" href="{% url 'students:rating' %}"><i class="star yellow icon"></i> Средний балл</a>

        <div class="ui horizontal red divider">

        <li><div class="header"><i class="exclamation circle red icon"></i> Задолженности</div>
            <li><a class="item" href="{% url 'students:debts' %}"><i class="chevron right icon"></i>Студенты</a>
            <li><a class="item" href="{% url 'subjects:debts' %}"><i class="chevron right icon"></i>Дисциплины</a>

        <div class="ui horizontal red divider">

            <li><div class="header"><i class="list ul green icon"></i> Списки</div>
            <li><a class="item" href="{% url 'students:students' %}"><i class="plus green icon"></i>Студенты</a>
            <li><a class="item" href="{% url 'subjects:subjects' %}"><i class="plus green icon"></i>Дисциплины</a>
            <li><a class="item" href="{% url 'subjects:groupsubjects' %}"><i class="plus green icon"></i>Назначения дисциплин</a>
            <li><a class="item" href="{% url 'groups:groups' %}"><i class="plus green icon"></i>Группы</a>
            <li><a class="item" href="{% url 'subjects:cathedras' %}"><i class="plus green icon"></i>Кафедры</a>
            <li><a class="item" href="{% url 'subjects:faculties' %}"><i class="plus green icon"></i>Факультеты</a>

        <div class="ui horizontal red divider">
        
        <li><a class="header" href="{% url 'archive:archive' %}"><i class="archive brown icon"></i> Архив</a>
        </ul>
</nav>

<!-- Content -->
<div id="content" style="padding-bottom: 35px">
    {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer>
    <!-- Footer -->
    <div class="ui container">
        <div id="footer" class="ui footer mini segment" style="font-family: Hack">
            <div class="ui grid">
                <!-- Version -->
                <div id="text" class="eight wide column left aligned"><i class="react icon"></i>Version 1.1</div>
                <!-- Author -->
                <div id="text" class="eight wide column right aligned">
                    Iurii Polnikov <script>document.write(new Date().getFullYear())</script>|All Rights Reserved
                    <i class="paw icon"></i>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<!-- Custom Scripts -->
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<script type="text/javascript">
    $('.ui.dropdown').dropdown();
    $('.ui.rating').rating();

    // функция закрытия меню
    function closeMenu() {
        let menu = document.querySelector("nav");
        menu.style.left = "-320px";
    };

    // закрытие меню, если курсор ушел с меню
    $(".nav").hover(function(){}, closeMenu);

    $('#toggle').click(
        function(){
            $('.nav').animate({
                left: '0px'
            }, 100);
        }
    );

    jobTimeInfo();
    setInterval("jobTimeInfo()", 60000);
</script>

</html>
