<!DOCTYPE html>

{% load static %}

{% load i18n %}

<html lang="ru">
    <head>
        <meta charset="utf-8">

        <!-- jQuery & DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/jq-3.6.0/dt-1.12.1/fc-4.1.0/fh-3.2.4/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/se/jq-3.6.0/dt-1.12.1/fc-4.1.0/fh-3.2.4/datatables.min.js"></script>

        <!-- fomantic ui -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

        <!-- Fengyuan Chen's Datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

        <!-- Custom CSS -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
    </head>

<body>

<!-- Header -->
<header>
    <!-- Header -->
    <div class="ui container">
        <div id="header" class="ui pointing inverted small top fixed menu" style="font-family: Hack">
            <!-- Left side header -->
            <a class="item"><h4 style="font-family: Hack">Рейтинг успеваемости ФИЭиГХ</h4></a>
            <!-- Right side header -->
            <div class="right menu">
                <!-- Date & Time -->
                <div class="item"><i class="calendar day icon"></i>{% now "l d E Y" %}</div>
                <!-- Search -->
                <div class="item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Поиск..." style="font-family: Hack">
                        <i class="search link icon"></i>
                    </div>
                </div>
                <!-- Logged username -->
                {% if user.is_authenticated %}
                    <a class="item" href="{% url 'logout' %}">{{ user.username }}</a>
                {% else %}
                    <a class="item">Вход</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<!-- Menu -->
<input type="checkbox" id="nav-toggle" hidden>
<nav class="nav">
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <ul>
        <li><a class="header" href="{% url 'dashboard:dashboard' %}"><i class="calculator icon"></i> Статистика</a>
        <li><a class="header" href="{% url 'groups:cards' %}"><i class="users icon"></i> Группы</a>
        <li><a class="header" href="{% url 'students:money' %}"><i class="hand holding usd icon"></i> Стипендия</a>

        <div class="ui horizontal red divider">

        <li><div class="header"><i class="exclamation circle red icon"></i> Задолженности</div>
            <li><a class="item" href="{% url 'students:debts' %}"><i class="chevron right icon"></i>Студенты</a>
            <li><a class="item" href="{% url 'subjects:debts' %}"><i class="chevron right icon"></i>Дисциплины</a>

        <div class="ui horizontal red divider">

        <li><div class="header"><i class="thumbtack blue icon"></i> Оценки</div>
            <li><a class="item" href="{% url 'students:results' %}"><i class="chevron right icon"></i>Студенты</a>
            <li><a class="item" href="{% url 'students:rating' %}"><i class="chevron right icon"></i>Средний балл</a>

        <div class="ui horizontal red divider">

        <li><div class="header"><i class="list ul green icon"></i> Списки</div>
            <li><a class="item" href="{% url 'students:students' %}"><i class="plus green icon"></i>Студенты</a>
            <li><a class="item" href="{% url 'subjects:subjects' %}"><i class="plus green icon"></i>Дисциплины</a>
            <li><a class="item" href="{% url 'subjects:groupsubjects' %}"><i class="plus green icon"></i>Назначения дисциплин</a>
            <li><a class="item" href="{% url 'groups:groups' %}"><i class="plus green icon"></i>Группы</a>
            <li><a class="item" href="{% url 'subjects:cathedras' %}"><i class="plus green icon"></i>Кафедры</a>
            <li><a class="item" href="{% url 'subjects:faculties' %}"><i class="plus green icon"></i>Факультеты</a>

        <div class="ui horizontal red divider">

        <li><div class="header"><i class="archive brown icon"></i> Архив</div>
            <li><a class="item" href="{% url 'archive:students' %}"><i class="chevron right icon"></i><span>Студенты</span></a>
            <li><a class="item" href="{% url 'archive:marks' %}"><i class="chevron right icon"></i><span>Оценки</span></a>
            <li><a class="item" href="{% url 'archive:subjects' %}"><i class="chevron right icon"></i><span>Дисциплины</span></a>
            <li><a class="item" href="{% url 'archive:groupsubjects' %}"><i class="chevron right icon"></i><span>Назначения дисциплин</span></a>
            <li><a class="item" href="{% url 'archive:groups' %}"><i class="chevron right icon"></i><span>Группы</span></a>
    </ul>
</nav>

<!-- Content -->
<div id="content">
        {% if breadcrumbs %}
            {% include "breadcrumbs.html" with breadcrumbs=breadcrumbs %}
        {% endif %}
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer>
    <!-- Footer -->
    <div class="ui container">
        <div id="footer" class="ui footer mini segment" style="font-family: Hack">
            <div class="ui grid">
                <!-- Version -->
                <div id="text" class="eight wide column left aligned"><i class="react icon"></i>Version 1.0</div>
                <!-- Author -->
                <div id="text" class="eight wide column right aligned">
                    Iurii Polnikov <script>document.write(new Date().getFullYear())</script> | All Rights Reserved
                    <i class="paw icon"></i>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<!-- Custom Scripts -->
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<script>
$('.ui.dropdown').dropdown();
</script>

</html>
