{% load i18n %}

<div id="breadcrumb" class="ui basic segments">
   <div class="ui breadcrumb">
      {% for item in breadcrumbs %}
         {% if forloop.last %}
            <div id="active-page" class="active section">{{ item.name }}</div>
         {% else %}
            {% if item.resolved %}
               <a class="section" href="{{ item.url }}">{{ item.name }}</a>
               <i class="right angle icon divider"></i>
            {%else%}
               <div class="section">{{ item.name }}</div>
               <i class="right angle icon divider"></i>
            {%endif%}
         {% endif %}
      {% endfor %}
   </div>
</div>

<style>
.ui.breadcrumb {
   font-size: 0.9rem;
}
.ui.breadcrumb a {
   color: black;
}
</style>
