{% extends 'base.html' %}

{% load static %}

{% block title %}Импорт студентов{% endblock %}

{% block content %}

<div class="ui container" style="margin-top: 100px; margin-bottom: 50px; width: 1200px">
   <div id="import" class="ui segment center aligned">
      
      <div class="ui container center aligned"><h3 style="font-family: Hack">Памятка по загрузке <div class="ui black large circular label">студентов</div> из CSV файла</h3></div>
   
      <table class="ui celled small table center aligned">
         <thead>
            <tr>
               <th>Личный номер студента</th>
               <th>Фамилия</th>
               <th>Имя</th>
               <th>Отчество</th>
               <th>Основа обучения</th>
               <th>Гражданство</th>
               <th>Уровень обучения</th>
               <th>Группа</th>
               <th>Семестр</th>
               <th>Дата зачисления</th>
               <th>Статус</th>
               <th>Тэг</th>
               <th>Стипендия</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><div name="point" class="ui red circular small label">1</div></td>
               <td><div name="point" class="ui red circular small label">2</div></td>
               <td><div name="point" class="ui red circular small label">3</div></td>
               <td><div name="point" class="ui grey circular small label">4</div></td>
               <td><div name="point" class="ui red circular small label">5</div></td>
               <td><div name="point" class="ui red circular small label">6</div></td>
               <td><div name="point" class="ui red circular small label">7</div></td>
               <td><div name="point" class="ui red circular small label">8</div></td>
               <td><div name="point" class="ui red circular small label">9</div></td>
               <td><div name="point" class="ui red circular small label">10</div></td>
               <td><div name="point" class="ui red circular small label">11</div></td>
               <td><div name="point" class="ui grey circular small label">12</div></td>
               <td><div name="point" class="ui red circular small label">13</div></td>
            </tr>
            <tr>
               <td colspan="13" class="left aligned"><strong>Разделитель <;>. Заполнение данными начинать с 2ой строки.</strong></td>
            </tr>
         </tbody>
      </table>
   
      <table class="ui very basic small table">
         <tbody>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label"></div></td>
               <td>Обязательные поля</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">5</div></td>
               <td>Бюджет | Контракт | ИГ</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">6</div></td>
               <td>Россия | Иностранец</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">7</div></td>
               <td>Бакалавриат | Магистратура</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">8</div></td>
               <td>Без указания семестра или курса. Например: ТТ</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">9</div></td>
               <td>Номер текущего семестра для студента</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">10</div></td>
               <td>Формат даты: дд.мм.гггг</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">11</div></td>
               <td>Является студентом | Академический отпуск | Отчислен | Выпускник</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">12</div></td>
               <td>пусто | из АО | восстановлен | перевелся на фак-т | перевелся с фак-та</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">13</div></td>
               <td>нет | 1.0 | 1.25 | 1.5</td>
            </tr>
         </tbody>
      </table>

      <div class="ui basic segment center aligned">
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ui grid">
               <div class="eight wide column middle left aligned">
                  <input name="import_file" type="file" style="width: 400px">
               </div>
               <div class="eight wide column right aligned">
                  <!-- Button's -->
                  <a
                  {% if request.path == '/students/import/' %}
                     href="{% url 'students:students' %}"
                  {% elif request.path == '/subjects/import/' %}
                     href="{% url 'subjects:subjects' %}"
                  {% elif request.path == '/subjects/cathedras/import/' %}
                     href="{% url 'subjects:cathedras' %}"
                  {% elif request.path == '/subjects/groupsubjects/import/' %}
                     href="{% url 'subjects:groupsubjects' %}"
                  {% endif %}>
                  <button id="back-button" class="ui circular button center aligned" type="button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                  </a>
                  <button id="download-button" class="ui primary circular button center aligned" type="submit" style="font-family: Hack"><i class="icon download"></i>Загрузить</button>
               </div>
            </div>
         </form>
      </div>
      
      {% if file_validation == False %}
         <i class="times red icon"></i><font color="red">Отсутствует файл, или неверный формат!</font>
      {% elif date_validation == False %}
         <i class="times red icon"></i><font color="red">Неверный формат даты зачисления!</font>
      {% elif errors %}
         <i class="times red icon"></i><font color="red">Следующие данные не были импортированы:</font>
         <div class="ui list left aligned">
            {% for error in errors %}
               <div class="item">
                  <i class="bug red icon"></i>{{ error }}
               </div>
            {% endfor %}
         </div>
      {% elif success %}
         <i class="check green icon"></i><font color="green">Все данные были успешно импортированы!</font>
      {% endif %}

   </div>
</div>

{% endblock %}
