<div class="ui raised segment" style="margin-top: 50px; width: 800px">

   <div class="ui container center aligned"><h3 style="font-family: Hack">Памятка</h3></div>

   <table class="ui celled small table center aligned">
      <thead>
         <tr>
            <th>Дисциплина</th>
            <th>Форма контроля</th>
            <th>Семестр</th>
            <th>Группа</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><div name="point" class="ui red circular small label">1</div></td>
            <td><div name="point" class="ui red circular small label">2</div></td>
            <td><div name="point" class="ui red circular small label">3</div></td>
            <td><div name="point" class="ui red circular small label">4</div></td>
         </tr>
         <tr>
            <td colspan="6" class="left aligned"><strong>Разделитель <;>. Заполнение данными начинать с 2ой строки.</strong></td>
         </tr>
      </tbody>
   </table>

   <table class="ui very basic small table">
      <tbody>
         <tr>
            <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label"></div></td>
            <td>Дисциплина, которая уже импортирована</td>
         </tr>
         <tr>
            <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">2</div></td>
            <td>Экзамен | Зачет | Диффзачет | Курсовой проект | Курсовая работа</td>
         </tr>
         <tr>
            <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">3</div></td>
            <td>Номер семестра, в котором указанная дисциплина подлежит аттестации</td>
         </tr>
         <tr>
            <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">4</div></td>
            <td>Группа, которой необходимо пройти аттестацию в указанном семестре по дисциплине</td>
         </tr>
      </tbody>
   </table>

</div>

