{% extends 'base.html' %}

{% load static %}

{% block title %}Импорт кафедр{% endblock %}

{% block content %}

<div class="ui container" style="margin-top: 50px; margin-bottom: 50px; width: 800px">
   <div id="import" class="ui segment center aligned">

      <div class="ui container center aligned"><h3 style="font-family: Hack">Памятка по загрузке <div class="ui black large circular label">кафедр</div> из CSV файла</h3></div>

      <table class="ui celled small table center aligned">
         <thead>
            <tr>
               <th>Полное название кафедры</th>
               <th>Сокращение</th>
               <th>Факультет</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><div name="point" class="ui red circular small label">1</div></td>
               <td><div name="point" class="ui grey circular small label">2</div></td>
               <td><div name="point" class="ui grey circular small label">3</div></td>
            </tr>
            <tr>
               <td colspan="3" class="left aligned"><strong>Разделитель <;>. Заполнение данными начинать с 2ой строки.</strong></td>
            </tr>
         </tbody>
      </table>

      <table class="ui very basic small table">
         <tbody>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label"></div></td>
               <td>Обязательные поля</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">2</div></td>
               <td>пусто|аббревиатура. Например: КСФиХ</td>
            </tr>
            <tr>
               <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">3</div></td>
               <td>пусто|ИЭиГХ|А|С|АД|СЭиПСТ|ЭУ</td>
            </tr>
         </tbody>
      </table>

      <div class="ui basic segment center aligned">
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ui grid">
               <div class="eight wide column middle left aligned">
                  <div class="ui file input small">
                     <input name="import_file" type="file" style="width: 400px">
                  </div>
               </div>
               <div class="eight wide column right aligned">
                  <!-- Button's -->
                  <a
                  {% if request.path == '/students/import/' %}
                     href="{% url 'students:students' %}"
                  {% elif request.path == '/subjects/import/' %}
                     href="{% url 'subjects:subjects' %}"
                  {% elif request.path == '/subjects/cathedras/import/' %}
                     href="{% url 'subjects:cathedras' %}"
                  {% elif request.path == '/subjects/groupsubjects/import/' %}
                     href="{% url 'subjects:groupsubjects' %}"
                  {% endif %}>
                  <button class="ui small button center aligned" type="button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                  </a>
                  <button class="ui primary small button center aligned" type="submit" style="font-family: Hack"><i class="icon download"></i>Загрузить</button>
               </div>
            </div>
         </form>
      </div>

      {% if file_validation == False %}
         <i class="times red icon"></i><font color="red">Отсутствует файл, или неверный формат!</font>
      {% elif date_validation == False %}
         <i class="times red icon"></i><font color="red">Неверный формат даты зачисления!</font>
      {% elif errors %}
         <i class="times red icon"></i><font color="red">Следующие данные не были импортированы:</font>
         <div class="ui list">
            {% for error in errors %}
               <div class="item" align="left">
                  <i class="bug red icon"></i>{{ error }}
               </div>
            {% endfor %}
         </div>
      {% elif success %}
         <i class="check green icon"></i><font color="green">Все данные были успешно импортированы!</font>
      {% endif %}

   </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">
   changeFileInputFont();
</script>
{% endblock %}
