<div class="ui raised segment" style="margin-top: 50px; width: 800px">

   <div class="ui container center aligned"><h3 style="font-family: Hack">Памятка</h3></div>

   <table class="ui celled small table center aligned">
      <thead>
         <tr>
            <th>Полное название кафедры</th>
            <th>Сокращение</th>
            <th>Факультет</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td><div name="point" class="ui red circular small label">1</div></td>
            <td><div name="point" class="ui grey circular small label">2</div></td>
            <td><div name="point" class="ui grey circular small label">3</div></td>
         </tr>
         <tr>
            <td colspan="3" class="left aligned"><strong>Разделитель <;>. Заполнение данными начинать с 2ой строки.</strong></td>
         </tr>
      </tbody>
   </table>

   <table class="ui very basic small table">
      <tbody>
         <tr>
            <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label"></div></td>
            <td>Обязательные поля</td>
         </tr>
         <tr>
            <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">2</div></td>
            <td>пусто | аббревиатура. Например: КСФиХ</td>
         </tr>
         <tr>
            <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">3</div></td>
            <td>пусто | ИЭиГХ | А | С | АД | СЭиПСТ</td>
         </tr>
      </tbody>
   </table>

</div>

