<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load customfilters %}

{% block title %}Статистика{% endblock %}

{% block content %}

<div class="ui basic segment" style="padding-top: 25px">
   <div class="ui four column grid" style="padding-top: 25px">
      <div class="row">

         <div class="column left aligned">
            <!-- Card -->
            <div class="ui raised card">
               <div class="content">

                  <div class="header left floated">
                     <div id="count-label" class="ui black circular big label">{{ num_students }}</div>
                  </div>
                  <div class="header right floated"><i class="icon big users"></i></div>

               </div>

               <div class="extra content left aligned">

                  <div class="ui middle aligned list">

                     <div class="item" style="font-family: Hack">
                        <i class="icon green checkmark"></i>
                        <div class="content">
                           <div class="header" style="font-family: Hack">Активные <div class="ui circular green small label right floated">{{ num_active_students }}</div></div>
                        </div>
                     </div>

                     <div class="item">
                        <i class="icon orange hourglass half"></i>
                        <div class="content">
                           <div class="header" style="font-family: Hack">Академический отпуск <div class="ui circular orange small label right floated">{{ num_delay_students }}</div></div>
                        </div>
                     </div>

                  </div>

                  <div class="ui divider"></div>

                  <div class="ui middle aligned list">
                     <div class="item">
                        <div class="content">
                           <div class="header" style="font-family: Hack">Россия <div class="ui circular brown small label right floated">{{ num_rus_students }}</div></div>
                        </div>
                     </div>

                     <div class="item">
                        <div class="content">
                           <div class="header" style="font-family: Hack">Иностранцы <div class="ui circular brown small label right floated">{{ num_for_students }}</div></div>
                        </div>
                     </div>
                  </div>

                  <div class="ui horizontal divider">Бакалавриат</div>

                  <div class="extra content">
                     <table class="ui very basic selectable small table">
                        <thead>
                           <tr>
                              <th colspan="2" class="center aligned"><div class="ui violet small label">{{ num_bac_students }}</div></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Россия</td>
                              <td class="right aligned"><div class="ui circular black label">{{ num_bac_rus_students }}</div></td>
                           </tr>
                           <tr>
                              <td>Иностранцы</td>
                              <td class="right aligned"><div class="ui circular black label">{{ num_bac_for_students }}</div></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>

                  <div class="ui horizontal divider">Магистратура</div>

                  <div class="extra content">
                     <table class="ui very basic selectable small table">
                        <thead>
                           <tr>
                              <th colspan="2" class="center aligned"><div class="ui purple small label">{{ num_mag_students }}</div></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Россия</td>
                              <td class="right aligned"><div class="ui circular black label">{{ num_mag_rus_students }}</div></td>
                           </tr>
                           <tr>
                              <td>Иностранцы</td>
                              <td class="right aligned"><div class="ui circular black label">{{ num_mag_for_students }}</div></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>

            </div>
         </div>

         <div class="column">
            <!-- Card -->
            <div class="ui raised card">

               <div class="content">
                  <div class="header left floated">
                     <div id="count-label" class="ui black circular big label">{{ num_money_students }}</div>
                  </div>
                  <div class="header right floated"><i class="hand holding usd big icon"></i></div>
               </div>

               <div class="extra content">
                  <table class="ui very basic selectable table">
                     <tbody>
                        <tr>
                           <td>Стандартная</td>
                           <td class="right aligned"><div class="ui circular grey label">{{ num_min_money }}</div></td>
                           <td class="right aligned"><div class="ui circular grey label">{{ per_min_money }}</div></td>
                        </tr>
                        <tr>
                           <td>Повышенная</td>
                           <td class="right aligned"><div class="ui circular orange label">{{ num_middle_money }}</div></td>
                           <td class="right aligned"><div class="ui circular orange label">{{ per_middle_money }}</div></td>
                        </tr>
                        <tr>
                           <td>Высокая</td>
                           <td class="right aligned"><div class="ui circular green label">{{ num_max_money }}</div></td>
                           <td class="right aligned"><div class="ui circular green label">{{ per_max_money }}</div></td>
                        </tr>
                        <tr>
                           <td>Не получают</td>
                           <td class="right aligned"><div class="ui circular black label">{{ no_money_students }}</div></td>
                           <td class="right aligned"><div class="ui circular black label">{{ per_no_money }}</div></td>
                        </tr>
                     </tbody>
                  </table>

                  <div class="ui horizontal divider">Бакалавриат</div>

                  <div class="item" style="font-family: Hack">
                     <div class="content">
                        <table class="ui very basic small selectable table">
                           <tbody>
                              <tr>
                                 <td>Стандартная</td>
                                 <td class="right aligned"><div class="ui circular grey label">{{ num_bac_min_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular grey label">{{ per_bac_min_money }}%</div></td>
                              </tr>
                              <tr>
                                 <td>Повышенная</td>
                                 <td class="right aligned"><div class="ui circular orange label">{{ num_bac_middle_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular orange label">{{ per_bac_middle_money }}%</div></td>
                              </tr>
                              <tr>
                                 <td>Высокая</td>
                                 <td class="right aligned"><div class="ui circular green label">{{ num_bac_max_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular green label">{{ per_bac_max_money }}%</div></td>
                              </tr>
                              <tr>
                                 <td>Не получают</td>
                                 <td class="right aligned"><div class="ui circular black label">{{ num_bac_no_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular black label">{{ per_bac_no_money }}%</div></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>

                  <div class="ui horizontal divider">Магистратура</div>

                  <div class="item" style="font-family: Hack">
                     <div class="content">
                        <table class="ui very basic basic small selectable table">
                           <tbody>
                              <tr>
                                 <td>Стандартная</td>
                                 <td class="right aligned"><div class="ui circular grey label">{{ num_mag_min_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular grey label">{{ per_mag_min_money }}%</div></td>
                              </tr>
                              <tr>
                                 <td>Повышенная</td>
                                 <td class="right aligned"><div class="ui circular orange label">{{ num_mag_middle_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular orange label">{{ per_mag_middle_money }}%</div></td>
                              </tr>
                              <tr>
                                 <td>Высокая</td>
                                 <td class="right aligned"><div class="ui circular green label">{{ num_mag_max_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular green label">{{ per_mag_max_money }}%</div></td>
                              </tr>
                              <tr>
                                 <td>Не получают</td>
                                 <td class="right aligned"><div class="ui circular black label">{{ num_mag_no_money }}</div></td>
                                 <td class="right aligned"><div class="ui circular black label">{{ per_mag_no_money }}%</div></td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>

               </div>

            </div>
         </div>

         <div class="six wide column">
            <table class="ui very basic selectable table">
               <thead>
                  <tr>
                     <th colspan="3" class="left aligned"><i class="icon orange hourglass half"></i> До выхода из академического отпуска</th>
                  </tr>
               </thead>
               <tbody>
                  {% for st in delay_students %}
                     <tr>
                        <td style="width: 150px">
                           <a href="{% url 'groups:detail' groupname=st.group.name semester=st.semester.semester %}">
                              {{ st.group.name }}-{{ st.semester.semester }}
                           </a>
                        </td>
                        <td class="collapsing left aligned"><a href="{{ st.get_absolute_url }}">{{ st.fullname }}</a></td>
                        <td class="right aligned">
                           {% if not st.msg %}
                              {{ st.delay_end_date|timeuntil }}
                           {% else %}
                              <i class="times red large icon"></i>
                           {% endif %}
                        </td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>

            <div class="ui horizontal divider"></div>

            <table class="ui very basic selectable table">
               <thead>
                  <tr>
                     <th colspan="3" class="left aligned"><i class="heart broken red icon"></i> Болеют</th>
                  </tr>
               </thead>
               <tbody>
                  {% for st in sick_students %}
                     <tr>
                        <td style="width: 150px">
                           <a href="{% url 'groups:detail' groupname=st.group.name semester=st.semester.semester %}">
                              {{ st.group.name }}-{{ st.semester.semester }}
                           </a>
                        </td>
                        <td class="collapsing left aligned"><a href="{{ st.get_absolute_url }}">{{ st.fullname }}</a></td>
                        <td class="right aligned">
                           {% if not st.msg %}
                              {{ st.sick_date|timesince }}
                           {% else %}
                              <i class="times red large icon"></i>
                           {% endif %}
                        </td>
                     </tr>
                  {% endfor %}
               </tbody>
            </table>
         </div>

      </div>
   </div>
</div>

{% endblock %}
