<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load customfilters %}

{% block title %}Архив{% endblock %}

{% block content %}

<div id="segments" class="ui basic segments">

   <!-- Title & button -->
   <div id="buttons-segment" class="ui basic segment">
      <table class="ui very basic table">
         <tbody>
               <tr>
                  <td><h2 style="font-family: Hack">Группы</h2></td>
                  <td class="right aligned"></td>
               </tr>
         </tbody>
      </table>
   </div>

	<!-- Table -->
   <div id="datatable-segment" class="ui basic segment">
		{% if group_list %}
			<div class="ui segment">
            <table id="groups" class="ui selectable celled striped table">

               <thead>
                  <tr class="center aligned">
                     <th><i class="hashtag small icon"></i></th>
                     <th>Название</th>
                     <th>Направление</th>
                     <th>Профиль | Специализация</th>
                     <th>Шифр</th>
                     <th class="collapsing">Удалить</th>
                     <th class="collapsing">Изменить</th>
                  </tr>
               </thead>

               <tbody>
                     {% for group in group_list %}
                        <tr>
                           <td class="center aligned" data-tooltip="{{ group.level }}" data-position="left center" data-inverted="">{{ forloop.counter }}</td>
                           <td class="center aligned collapsing">{{ group.name }}</td>
                           <td>{{ group.direction }}</td>
                           <td>{{ group.profile }}</td>
                           <td class="center aligned">{{ group.code }}</td>
                           <td class="center aligned collapsing">
                              <a href="{% url 'groups:delete' group.id %}">
                                 <button id="trash-button" class="circular ui red tiny icon button">
                                    <i class="trash alternate outline icon"></i>
                                 </button>
                           </a>
                           </td>
                           <td class="center aligned collapsing">
                              <a href="{% url 'groups:update' group.id %}">
                                    <button id="edit-button" class="circular ui blue tiny icon button">
                                       <i class="edit icon"></i>
                                    </button>
                              </a>
                           </td>
                        </tr>
                     {% endfor %}
               </tbody>

            </table>
         </div>
      {% else %}
			{% include 'empty_records.html' %}
		{% endif %}
   </div>
</div>


<script>

// DataTables
$(document).ready(function() {
   document.querySelector('#groups').style.width = "100%";
   // DataTable
   $('#groups').DataTable({
      language: {
         lengthMenu: '_MENU_ записей на страницу',
         zeroRecords: 'Записей нет...',
         info: 'Всего записей: _MAX_',
         infoEmpty: '',
         infoFiltered: 'Найдено: _TOTAL_',
         search: '',
         searchPlaceholder: 'поиск',
         paginate: {
            first:    '«',
            previous: '‹',
            next:     '›',
            last:     '»'
         }
      },
      lengthMenu: [
         [20, 50, -1],
         [20, 50, 'Все']
      ],
      pageLength: 20,
      columnDefs: [
         { searchable: false, targets: 0 }
      ],
   });

   // изменить шрифт в поле <input>
   let dataInput = document.querySelectorAll(".segment input")[0];
   dataInput.style.fontFamily = "Hack";
});
</script>

{% endblock %}
