<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load customfilters %}

{% block title %}Архив{% endblock %}

{% block content %}

<div id="segments" class="ui basic segments">

   <!-- Title & button -->
   <div id="buttons-segment" class="ui basic segment">
      <table class="ui very basic table">
         <tbody>
               <tr>
                  <td><h2 style="font-family: Hack">Студенты</h2></td>
                  <td class="right aligned"></td>
               </tr>
         </tbody>
      </table>
   </div>

	<!-- Table -->
   <div id="datatable-segment" class="ui basic segment">
		{% if student_list %}
			<div class="ui segment">
            <table id="students" class="ui selectable celled striped table">

               <thead>
                  <tr class="center aligned">
                     <th id="numbers" class="collapsing" style="width: 50px"><i class="hashtag small icon"></i></th>
                     <th>ФИО</th>
                     <th class="collapsing">Группа</th>
                     <th class="collapsing">Семестр</th>
                     <th class="collapsing">Статус</th>
                     <th class="collapsing">Примечание</th>
                  </tr>
               </thead>

               <tbody>
                  {% for student in student_list %}
                     <tr>
                        <td class="center aligned collapsing" style="width: 50px">{{ forloop.counter }}</td>
                        <td class="collapsing"><a href="{{ student.get_absolute_url }}">{{ student.fullname }}</a></td>
                        <td class="center aligned">{{ student.group }}</td>
                        <td class="center aligned">{{ student.semester.semester }}</td>
                        <td class="center aligned collapsing">
                              {{ student.get_status_display }}
                              {% if student.tag %}
                                 <div id="tag-label" class="ui small pink label">{{ student.tag }}</div>
                              {% endif %}
                        </td>
                        <td>{{ student.comment|truncatechars:25 }}</td>
                     </tr>
                  {% endfor %}
               </tbody>

            </table>
         </div>
      {% else %}
			{% include 'empty_records.html' %}
		{% endif %}
   </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<!-- DataTable -->
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

<script type="text/javascript">

// DataTable
$(document).ready(function() {
	let firstRow = $('#students thead tr')[0];
	let secondRow = firstRow.cloneNode(true);
	firstRow.after(secondRow);

	let filterColumns = $('#students thead tr')[0].children;
	for (let i = 0; i < filterColumns.length; i++) {
		let inputWidth = filterColumns[i].offsetWidth - 15;
		if(i != 0) {
			filterColumns[i].innerHTML = '<div class="ui input">' + '<input name="filter" style="width: ' + inputWidth + 'px" type="text" data-index="' + i + '" /></div>';
		} else {filterColumns[i].innerHTML = ""};
	};

	document.querySelector('#students').style.width = "100%";
	// DataTable
	var table = $('#students').DataTable({
		language: {
			lengthMenu: '_MENU_ записей на страницу',
			zeroRecords: 'Записей нет...',
			info: 'Всего записей: _MAX_',
			infoEmpty: '',
			infoFiltered: 'Найдено: _TOTAL_',
			search: '',
			searchPlaceholder: 'поиск',
			paginate: {
            first:    '«',
            previous: '‹',
            next:     '›',
            last:     '»'
         }
		},
		lengthMenu: [
         [20, 50, -1],
         [20, 50, 'Все']
      ],
      pageLength: 20,
      columnDefs: [
         { searchable: false, targets: 0 }
      ],
	});

	// Filter event handler
	$(table.table().container()).on('keyup', 'thead input', function() {table
		.column($(this).data('index'))
		.search(this.value)
		.draw();
	});
	changeDatatableInputFont();

   // Очистка фильтров двойным кликом выше head
   $(document).on("dblclick",  ".ui.stackable.grid", function() {
      let inputs = document.getElementsByName("filter");
      inputs.forEach(e => {
         e.value = "";
      });
      table.search('');
      table.columns().search('').draw();
   });
});

// убрать нижний отступ сегмента с заголовком и кнопками
let segments = document.getElementById("segments");
segments.style.paddingBottom = '0';

// убрать верхний отступ сегмента с таблицей
let datatableSegment = document.getElementById("datatable-segment");
datatableSegment.style.paddingTop = '0';

</script>

{% endblock %}
