<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% load customfilters %}

{% block title %}Архив{% endblock %}

{% block content %}

<div id="has-group" style="display: none">{{ request.user|has_group:"Сотрудники" }}</div>
<div id="segments" class="ui basic segments">
   <!-- Title & button -->
   <div id="buttons-segment" class="ui basic segment">
      <table class="ui very basic table">
         <tbody>
               <tr>
                  <td><h2 style="font-family: Hack">Архивные записи</h2></td>
                  <td class="right aligned"></td>
               </tr>
         </tbody>
      </table>
   </div>

   <!-- Tabs -->
   <div id="tabs-segment" class="ui basic segment">
      <!-- Tabs title's -->
      <div class="ui secondary menu" style="font-family: Hack">
         <a class="item active" data-tab="first">Студенты <div class="ui grey circular small label">{{ students }}</div></a>
         <a class="item" data-tab="second">Оценки <div class="ui grey circular small label">{{ marks }}</div></a>
         <a class="item" data-tab="third">Дисциплины <div class="ui grey circular small label">{{ subjects }}</div></a>
         <a class="item" data-tab="fourth">Назначения дисциплин <div class="ui grey circular small label">{{ groupsubjects }}</div></a>
         <a class="item" data-tab="fifth">Группы <div class="ui grey circular small label">{{ groups }}</div></a>
      </div>

      <!-- Tab 1 -->
      <!-- Students -->
      <div class="ui tab active" data-tab="first">
         <!-- Table -->
         {% if students %}
            <table id="students-table" class="ui selectable celled compact fixed single line small table">
               <!-- data from JavaScript -->
               <thead>
                  <tr>
                     <th><i class="hashtag small icon"></i></th>
                     <th>ФИО</th>
                     <th>Группа</th>
                     <th>Семестр</th>
                     <th>Уровень</th>
                     <th>Гражданство</th>
                     <th>Статус</th>
                     <th>Примечание</th>
                  </tr>
               </thead>
            </table>
         {% else %}
            {% include 'empty_records.html' %}
         {% endif %}
      </div>

      <!-- Tab 2 -->
      <!-- Marks -->
      <div class="ui tab" data-tab="second">
         <!-- Table -->
         {% if marks %}
            <table id="marks-table" class="ui selectable celled compact fixed single line small table">
               <thead>
                  <tr>
                     <th><i class="hashtag small icon"></i></th>
                     <th>Студент</th>
                     <th>Группа</th>
                     <th>Дисциплина</th>
                     <th>Форма контроля</th>
                     <th>Семестр</th>
                     <th>Дата аттестации</th>
                     <th>Оценка</th>
                     <th></th>
                  </tr>
               </thead>
               <!-- data from JavaScript -->
            </table>
         {% else %}
            {% include 'empty_records.html' %}
         {% endif %}
      </div>

      <!-- Tab 3 -->
      <!-- Subjects -->
      <div class="ui tab" data-tab="third">
         <!-- Table -->
         {% if subjects %}
            <table id="subjects-table" class="ui selectable celled compact fixed single line small table">
               <thead>
                  <tr class="center aligned">
                     <th><i class="hashtag small icon"></i></th>
                     <th>Название</th>
                     <th>Форма контроля</th>
                     <th>Семестр</th>
                     <th>Кафедра</th>
                     <th>Примечание</th>
                  </tr>
               </thead>
               <!-- data from JavaScript -->
            </table>
         {% else %}
            {% include 'empty_records.html' %}
         {% endif %}
      </div>

      <!-- Tab 4 -->
      <!-- GroupSubjects -->
      <div class="ui tab" data-tab="fourth">
         <!-- Table -->
         {% if groupsubjects %}
            <table id="groupsubjects-table" class="ui selectable celled compact fixed single line small table">
               <!-- data from JavaScript -->
               <thead>
                  <tr>
                     <th><i class="hashtag small icon"></i></th>
                     <th>Дисциплина</th>
                     <th>Форма контроля</th>
                     <th>Группа</th>
                     <th>Семестр</th>
                     <th>Преподаватель</th>
                     <th>Дата аттестации</th>
                     <th>Кафедра</th>
                     <th>Удалить</th>
                     <th>Изменить</th>
                  </tr>
               </thead>
            </table>
         {% else %}
            {% include 'empty_records.html' %}
         {% endif %}
      </div>

      <!-- Tab 5 -->
      <!-- Groups -->
      <div class="ui tab" data-tab="fifth">
         <!-- Table -->
         {% if groups %}
            <table id="groups-table" class="ui selectable compact small celled table">
               <thead>
                  <tr>
                     <th><i class="hashtag small icon"></i></th>
                     <th>Название</th>
                     <th>Уровень</th>
                     <th>Направление</th>
                     <th>Профиль | Специализация</th>
                     <th>Шифр</th>
                     <th>Удалить</th>
                     <th>Изменить</th>
                  </tr>
               </thead>
               <!-- data from JavaScript -->
            </table>
         {% else %}
            {% include 'empty_records.html' %}
         {% endif %}
      </div>
   </div>
</div>

<!-- Modal for update group -->
<div id="group-update-modal" class="ui large modal">
   <div class="basic center aligned header" style="font-family: Hack">Изменить группу</div>
   <div class="content" style="font-family: Hack">
      <form id="group-update-form" method="POST">
         {% csrf_token %}
         <div class="ui form">
            <div class="required field">
               <label>Название</label>
               {{ group_form.name }}
            </div>
            <div class="two fields">
               <div class="five wide required field">
                  <label>Направление</label>
                  {{ group_form.direction }}
               </div>
               <div class="eleven wide required field">
                  <label>Профиль | Специализация</label>
                  {{ group_form.profile }}
               </div>
            </div>
            <div class="two fields">
               <div class="required field">
                  <label>Уровень обучения</label>
                  {% render_field group_form.level _no_label='True' placeholder='Выбрать' %}
               </div>
               <div class="required field {% if group_form.code.errors %} error {% endif %}">
                  <label>Шифр в формате: XX.XX.XX</label>
                  {{ group_form.code }}
               </div>
            </div>
            <div class=" field">
               {% render_field group_form.is_archived %}
            </div>
         </div>
      </form>
   </div>
   <div class="basic actions">
      <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
      <div id="update-group-button" class="ui blue circular button" onclick="updateGroup()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
   </div>
</div>

<!-- Modal for delete group -->
<div id="group-delete-modal" class="ui modal">
   <div class="basic center aligned header" style="font-family: Hack">Удалить группу</div>
   <div class="content" style="font-family: Hack">
      <form id="delete-form" method="POST">
         {% csrf_token %}
         <table class="ui definition table" style="margin-top: 0">
            <tbody>
               <tr>
                  <td class="five wide">Название</td>
                  <td id="del-name"></td>
               </tr>
               <tr>
                  <td>Направление</td>
                  <td id="del-direction"></td>
               </tr>
               <tr>
                  <td>Профиль | Специализация</td>
                  <td id="del-profile"></td>
               </tr>
               <tr>
                  <td>Уровень обучения</td>
                  <td id="del-level"></td>
               </tr>
               <tr>
                  <td>Шифр</td>
                  <td id="del-code"></td>
               </tr>
            </tbody>
         </table>
      </form>
   </div>
   <div class="basic actions">
       <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
       <div id="delete-group-button" class="ui red circular button" onclick="deleteGroup()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
   </div>
</div>

<!-- Modal for update groupsubject -->
<div id="group-subject-update-modal" class="ui large modal">
   <div class="basic center aligned header" style="font-family: Hack">Изменить назначение</div>
   <div class="content" style="font-family: Hack">
       <form id="group-subject-update-form" method="POST">
           {% csrf_token %}
           <div class="ui large form">
               <div class="required field">
                   <label>Дисциплина</label>
                   {% render_field groupsubject_form.subjects _no_label='True' %}
               </div>

               <div class="required field">
                   <label>Группа</label>
                   {% render_field groupsubject_form.groups _no_label='True' %}
               </div>

               <div class="two fields">
                   <div class="seven wide field {% if groupsubject_form.teacher.errors %} error {% endif %}">
                       <label>Фамилия И.О. преподавателя</label>
                       {{ groupsubject_form.teacher }}
                   </div>

                   <div class="four wide field {% if groupsubject_form.att_date.errors %} error {% endif %}">
                       <label>Дата аттестации</label>
                       <div class="ui calendar">
                           <div class="ui input left icon">
                               <i class="calendar alternate outline icon"></i>
                               {{ groupsubject_form.att_date }}
                           </div>
                       </div>
                   </div>
               </div>

               <div class="field">
                   <label>Примечание</label>
                   {{ groupsubject_form.comment }}
               </div>

               <div class="field">
                   {% render_field groupsubject_form.is_archived _no_label='True' %}
               </div>
           </div>

       </form>
   </div>
   <div class="basic actions">
       <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
       <div id="update-btn" class="ui blue circular button" onclick="updateGroupSubject()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
   </div>
</div>

<!-- Modal for delete groupsubject -->
<div id="group-subject-delete-modal" class="ui modal">
   <div class="basic center aligned header" style="font-family: Hack">Удалить назначение</div>
   <div class="content" style="font-family: Hack">
       <table class="ui definition table" style="margin-top: 0">
           <tbody>
               <tr>
                   <td class="three wide">Дисциплина</td>
                   <td id="del-subject"></td>
               </tr>
               <tr>
                   <td>Форма контроля</td>
                   <td id="del-formcontrol"></td>
               </tr>
               <tr>
                   <td>Группа</td>
                   <td id="del-group"></div></td>
               </tr>
               <tr>
                   <td>Преподаватель</td>
                   <td id="del-teacher"></td>
               </tr>
               <tr>
                   <td>Дата аттестации</td>
                   <td id="del-date"></td>
               </tr>
               <tr>
                   <td>Кафедра</td>
                   <td id="del-cathedra"></td>
               </tr>
               <tr>
                   <td>Примечание</td>
                   <td id="del-comment"></td>
               </tr>
           </tbody>
       </table>
   </div>
   <div class="basic actions">
       <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
       <div id="delete-btn" class="ui red circular button" onclick="deleteGroupSubject()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
   </div>
</div>

<!-- Modal for update result -->
<div id="result-update-modal" class="ui large modal">
   <div class="basic center aligned header" style="font-family: Hack">Изменить оценку</div>
   <div class="content" style="font-family: Hack">
       <form id="result-update-form" method="POST">
           {% csrf_token %}
           <div class="ui form">
            <table class="ui very basic table">
               <tbody>
                  <tr>
                     <td>
                        <div class="required field">
                           <label>Студент</label>
                           {% render_field result_form.students _no_label='True' placeholder='Выбрать...' _style='ChoiceField' %}
                        </div>
                        
                        <div class="required field">
                           <label>Назначение</label>
                           {% render_field result_form.groupsubject _no_label='True' placeholder='Выбрать...' %}
                        </div>
                     </td>
                     <td class="two wide top center aligned">
                        <div class="required {% if result_form.mark.errors %} error {% endif %} field">
                           <label>Оценки</label>
                           {% render_field result_form.mark _no_label='True' _help='True' %}
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="inline fields">
               <label>Тэг</label>
               {% for tag in result_form.tag %}
                  <div class="field">
                     <div class="ui basic circular label">{{ tag }}</div>
                  </div>
               {% endfor %}
            </div>

            <div class="field">
               {% render_field result_form.is_archived _no_label='True' %}
            </div>
         </div>
      </form>
   </div>
   <div class="basic actions">
       <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
       <div id="update-btn" class="ui blue circular button" onclick="updateResult()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
   </div>
</div>

<!-- Modal for delete result -->
<div id="result-delete-modal" class="ui modal">
   <div class="basic center aligned header" style="font-family: Hack">Удалить оценку</div>
   <div class="content" style="font-family: Hack">
      <table class="ui definition table" style="margin-top: 0">
         <tbody>
            <tr>
               <td style="width: 150px">Студент</td>
               <td id="del-name"></td>
            </tr>
            <tr>
               <td>Группа</td>
               <td id="del-group"></td>
            </tr>
            <tr>
               <td>Семестр</td>
               <td id="del-semester"></td>
            </tr>
            <tr>
               <td>Дисциплина</td>
               <td id="del-subject"></td>
            </tr>
            <tr>
               <td>Форма контроя</td>
               <td id="del-formcontrol"></td>
            </tr>
            <tr>
               <td>Дата аттестации</td>
               <td id="del-date"></td>
            </tr>
            <tr>
               <td>Оценки</td>
               <td id="del-marks"></td>
            </tr>
         </tbody>
     </table>
   </div>
   <div class="basic actions">
      <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
      <div id="delete-btn" class="ui red circular button" onclick="deleteResult()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
   </div>
</div>

<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment_ru.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_groups.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_groupsubjects.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_archive.js' %}"></script>
<script type="text/javascript">
   $(document).ready(function() {
      $('.menu .item').tab();
      var hasGroup = document.getElementById('has-group').textContent;

      if ($.fn.DataTable.isDataTable('#groups-table')) {
         $('#groups-table').DataTable().destroy();
      };
      const groupsDataTableOptions = {
         language: {
            lengthMenu: '_MENU_ записей на страницу',
            zeroRecords: 'Записей нет...',
            info: 'Всего записей: _MAX_',
            infoEmpty: '',
            infoFiltered: 'Найдено: _TOTAL_',
            search: '',
            searchPlaceholder: 'поиск',
            paginate: {
               first:    '«',
               previous: '‹',
               next:     '›',
               last:     '»'
            },
         },
         lengthMenu: [
            [20, 50, -1],
            [20, 50, 'Все']
         ],
         pageLength: 20,
         paging: true,
         searching: true,
         ordering: true,
         autoWidth: false,
         columnDefs: [
            { width: "3%", targets: [0, 6, 7] },
            { width: "10%", targets: [1, 2] },
            { width: "24%", targets: 3 },
            { width: "42%", targets: 4 },
            { width: "5%", targets: 5 },
            { orderable: false, targets: [6, 7] },
            { className: 'center aligned', targets: [0, 2, 5, 6, 7] },
         ],
         headerCallback: function(thead, cellData, start, end, display) {
            $(thead).find('th').addClass('center aligned');
         },
      };
      $('#groups-table').DataTable(groupsDataTableOptions);
      fetchGroupsDataAndPopulate(hasGroup);

      if ($.fn.DataTable.isDataTable('#groupsubjects-table')) {
         $('#groupsubjects-table').DataTable().destroy();
      };
      const groupSubjectsDataTableOptions = {
			language: {
				lengthMenu: '_MENU_ записей на страницу',
				zeroRecords: 'Записей нет...',
				info: 'Всего записей: _MAX_',
				infoEmpty: '',
				infoFiltered: 'Найдено: _TOTAL_',
				search: '',
				searchPlaceholder: 'поиск',
				paginate: {
					first:    '«',
					previous: '‹',
					next:     '›',
					last:     '»'
				}
			},
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'Все']
			],
			pageLength: 20,
            searching: true,
			autoWidth: false,
			columnDefs: [
				{ width: "3%", targets: 0 },
				{ width: "5%", targets: [8, 9] },
            { width: "35%", targets: 1 },
            { width: "10%", targets: [2, 5, 6] },
            { width: "8%", targets: 3 },
            { width: "7%", targets: [4, 7] },
				{ searchable: false, targets: [0, 8, 9] },
            { orderable: false, targets: [8, 9] },
            { className: 'center aligned', targets: [0, 3, 4, 5, 6, 7, 8, 9] },
				{
					targets: 6,
					createdCell: function(td, cellData, rowData, row, col) {
						if (!(cellData instanceof Date) && cellData.includes('Нет')) {
							$(td).text('---');
						} else {
                     moment.locale('ru');
                     $(td).text(moment(cellData).format('DD.MM.YYYY'));
                  };
					}
				},
			],
			headerCallback: function(thead, cellData, start, end, display) {
            $(thead).find('th').addClass('center aligned');
         },
		};
      $('#groupsubjects-table').DataTable(groupSubjectsDataTableOptions);
      fetchArchivedGroupSubjectsDataAndPopulate(hasGroup);

      if ($.fn.DataTable.isDataTable('#students-table')) {
         $('#students-table').DataTable().destroy();
      };
		const studentsDataTableOptions = {
			language: {
				lengthMenu: '_MENU_ записей на страницу',
				zeroRecords: 'Записей нет...',
				info: 'Всего записей: _MAX_',
				infoEmpty: '',
				infoFiltered: 'Найдено: _TOTAL_',
				search: '',
				searchPlaceholder: 'поиск',
				paginate: {
					first:    '«',
					previous: '‹',
					next:     '›',
					last:     '»'
				}
			},
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'Все']
			],
			pageLength: 20,
         searching: true,
			autoWidth: false,
			columnDefs: [
				{ width: "3%", targets: 0 },
				{ width: "25%", targets: 1 },
				{ width: "8%", targets: [2, 3, 4, 5] },
				{ width: "20%", targets: 6 },
				{ width: "20%", targets: 7 },
				{ searchable: false, targets: 0 },
            { className: 'center aligned', targets: [0, 2, 3, 4, 5, 6] },
			],
			headerCallback: function(thead, cellData, start, end, display) {
            $(thead).find('th').addClass('center aligned');
         },
		};
		var studentsTable = $('#students-table').DataTable(studentsDataTableOptions);
      fetchArchivedStudentsDataAndPopulate();

      if ($.fn.DataTable.isDataTable('#subjects-table')) {
         $('#subjects-table').DataTable().destroy();
      };
      const subjectsDataTableOptions = {
			language: {
				lengthMenu: '_MENU_ записей на страницу',
				zeroRecords: 'Записей нет...',
				info: 'Всего записей: _MAX_',
				infoEmpty: '',
				infoFiltered: 'Найдено: _TOTAL_',
				search: '',
				searchPlaceholder: 'поиск',
				paginate: {
					first:    '«',
					previous: '‹',
					next:     '›',
					last:     '»'
				}
			},
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'Все']
			],
			pageLength: 20,
         searching: true,
			autoWidth: false,
			columnDefs: [
				{ width: "3%", targets: 0 },
				{ width: "49%", targets: 1 },
				{ width: "12%", targets: 2 },
				{ width: "8%", targets: [3, 4] },
				{ width: "20%", targets: 5 },
				{ searchable: false, targets: 0 },
            { className: 'center aligned', targets: [0, 3, 4] },
			],
			headerCallback: function(thead, cellData, start, end, display) {
            $(thead).find('th').addClass('center aligned');
         },
		};
		var subjectsTable = $('#subjects-table').DataTable(subjectsDataTableOptions);
      fetchArchivedSubjectsDataAndPopulate();

      if ($.fn.DataTable.isDataTable('#marks-table')) {
         $('#marks-table').DataTable().destroy();
      };
      const marksDataTableOptions = {
			language: {
				lengthMenu: '_MENU_ записей на страницу',
				zeroRecords: 'Записей нет...',
				info: 'Всего записей: _MAX_',
				infoEmpty: '',
				infoFiltered: 'Найдено: _TOTAL_',
				search: '',
				searchPlaceholder: 'поиск',
				paginate: {
					first:    '«',
					previous: '‹',
					next:     '›',
					last:     '»'
				}
			},
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'Все']
			],
			pageLength: 20,
         searching: true,
			autoWidth: false,
			columnDefs: [
				{ width: "3%", targets: 0 },
				{ width: "20%", targets: 1 },
				{ width: "7%", targets: 2 },
				{ width: "31%", targets: 3 },
				{ width: "10%", targets: 4 },
				{ width: "6%", targets: 5 },
				{ width: "10%", targets: 6 },
				{ width: "10%", targets: 7 },
				{ width: "3%", targets: 8 },
				{ searchable: false, targets: 0 },
            { orderable: false, targets: 8 },
            { className: 'center aligned', targets: [0, 2, 4, 5, 6, 7, 8] },
            {
					targets: 6,
					createdCell: function(td, cellData, rowData, row, col) {
						if (!(cellData instanceof Date) && cellData.includes('Нет')) {
							$(td).text('---');
						} else {
                     moment.locale('ru');
                     $(td).text(moment(cellData).format('DD.MM.YYYY'));
                  };
					}
				},
         ],
			headerCallback: function(thead, cellData, start, end, display) {
            $(thead).find('th').addClass('center aligned');
         },
		};
		var marksTable = $('#marks-table').DataTable(marksDataTableOptions);
      fetchArchivedMarksDataAndPopulate();

      var forms = document.forms;
      for (let i = 0; i < forms.length; i++) {
         var formElements = forms[i].elements;
         for (let j = 0; j < formElements.length; j++) {
            if (formElements[j].localName == "input" && formElements[j].type == "text") {
               formElements[j].style.fontFamily = "Hack";
            };
         };
      };
   });
</script>

{% endblock %}
