<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}Удалить {{ student.fullname }}{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack; padding-top: 50px">
    
	<div class="ui segments">
        <div class="ui center aligned inverted red segment">
            <h3 style="font-family: Hack">Удалить cтудента</h3>
        </div>

        <!-- Form -->
        <div class="ui center aligned segment">
            <form method="POST">
                {% csrf_token %}
                <table class="ui definition table" style="margin-top: 0">
                    <tbody>
                        <tr>
                            <td class="three wide">Зачетная книжка</td>
                            <td>{{ student.student_id }}</td>
                        </tr>
                        <tr>
                            <td>Гражданство</td>
                            <td>{{ student.get_citizenship_display }}</td>
                        </tr>
                        <tr>
                            <td>Основа обучения</td>
                            <td>{{ student.basis }}</td>
                        </tr>
                        <tr>
                            <td>Уровень обучения</td>
                            <td>{{ student.get_level_display }}</td>
                        </tr>
                        <tr>
                            <td>Группа</td>
                            <td>{{ student.group }}</td>
                        </tr>
                        <tr>
                            <td>Дата зачисления</td>
                            <td>{{ student.start_date|date:"l" }}, {{ student.start_date }}</td>
                        </tr>
                        <tr>
                            <td>Стипендия</td>
                            <td>{{ student.money }}</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            {% if student.get_status_display == 'Отчислен' %}
                                <td class="negative"><i class="icon close"></i>
                                    {{ student.get_status_display }}
                                </td>
                            {% elif student.get_status_display == 'Академический отпуск' %}
                                <td class="warning"><i class="icon hourglass half"></i>
                                    {{ student.get_status_display }}
                                </td>
                            {% elif student.get_status_display == 'Выпускник' %}
                                <td class="positive"><i class="icon rocket"></i>
                                    {{ student.get_status_display }}
                                </td>
                            {% else %}
                                <td class="positive"><i class="icon checkmark"></i>
                                    {{ student.get_status_display }}
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Примечание</td>
                            <td>{{ student.comment }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
            <!-- Button's -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'students:detail' student.student_id %}">
                    <button type="button" class="ui button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button></a>
                <button type="submit" class="ui red button" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
