{% extends "base.html" %}

{% load static %}

{% block title %}Стипендия{% endblock %}

{% block content %}

<div id="segments" class="ui basic segments">

   <!-- Title & button -->
   <div class="ui basic segment">
        <div class="ui stackable two column grid">
            <div class="column"><h2 style="font-family: Hack">Стипендия</h2></div>
        </div>
    </div>

	<!-- Table -->
    <div id="datatable-segment" class="ui basic segment">
		<table id="students-money-table" class="ui selectable celled compact fixed single line table">
			<!-- data from script -->
        </table>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_students_money.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		if ($.fn.DataTable.isDataTable('#students-money-table')) {
			$('#students-money-table').DataTable().destroy();
		};

		const dataTableOptions = {
			columns: [
                { title: '<i class="hashtag small icon"></i>' },
                { title: 'Группа' },
                { title: 'Семестр' },
                { title: 'Студент' },
                { title: 'Стипендия' },
                { title: 'Форма обучения' },
            ],
			language: {
				lengthMenu: '_MENU_ записей на страницу',
				zeroRecords: 'Записей нет...',
				info: 'Всего записей: _MAX_',
				infoEmpty: '',
				infoFiltered: 'Найдено: _TOTAL_',
				search: '',
				searchPlaceholder: 'поиск',
				paginate: {
					first:    '«',
					previous: '‹',
					next:     '›',
					last:     '»'
				}
			},
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'Все']
			],
			pageLength: 20,
            searching: true,
			autoWidth: false,
			columnDefs: [
				{ width: "3%", targets: 0 },
				{ width: "8%", targets: [1, 2] },
				{ width: "12%", targets: [4, 5] },
				{ width: "59%", targets: 3 },
				{ searchable: false, targets: 0 },
                { className: 'center aligned', targets: [0, 1, 2, 4, 5] },
				{
					targets: 4,
					createdCell: function(td, cellData, rowData, row, col) {
						if (cellData.includes('нет')) {
							$(td).addClass('negative');
						};
					}
				},
				{
					targets: 5,
					createdCell: function(td, cellData, rowData, row, col) {
						if (cellData.includes('ИГ')) {
							$(td).addClass('blue');
						} else if (cellData.includes('Контракт')) {
							$(td).addClass('negative');
                        };
					}
				},
			],
			headerCallback: function(thead, cellData, start, end, display) {
                $(thead).find('th').addClass('center aligned');
            },
		};
		var table = $('#students-money-table').DataTable(dataTableOptions);

		let firstRow = $('#students-money-table thead tr')[0];
		let secondRow = firstRow.cloneNode(true);
		firstRow.after(secondRow);

		let filterColumns = $('#students-money-table thead tr')[1].children;
		for (let i = 0; i < filterColumns.length; i++) {
			let inputWidth = filterColumns[i].offsetWidth - 60;
			if(i != 0) {
				filterColumns[i].innerHTML = `
												<div class="ui input">
													<input name="filter" type="text" style="width: ${inputWidth}px" data-index=${i}>
												</div>
											`;
			} else {filterColumns[i].innerHTML = ""};
		};

		// Filter event handler
		$(table.table().container()).on('keyup', 'thead input', function() {table
			.column($(this).data('index'))
			.search(this.value)
			.draw();
		});

		// Clean filters inputs by double-clicking above the head
		$(document).on("dblclick",  ".ui.stackable.grid", function() {
			let inputs = document.getElementsByName("filter");
			inputs.forEach(e => {
				e.value = "";
			});
			table.search('');
			table.columns().search('').draw();
		});
		changeDatatableInputFont();
		removeSortingLabel('students-money-table');

		$(document).ready(function() {
			var forms = document.forms;
			for (let i = 0; i < forms.length; i++) {
				var formElements = forms[i].elements;
				for (let j = 0; j < formElements.length; j++) {
					if (formElements[j].localName == "input" && formElements[j].type == "text") {
						formElements[j].style.fontFamily = "Hack";
					};
				};
			};
		});
	});
</script>

{% endblock %}
