<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% block title %}Все задолженности по студентам{% endblock %}

{% block content %}

<div id="segments" class="ui basic segments">

    <!-- Title & button -->
    <div id="buttons-segment" class="ui basic segment">
        <h2 style="font-family: Hack">Все задолженности по студентам в текущем семестре</h2>
    </div>

        <!-- Table -->
    <div id="datatable-segment" class="ui basic segment">
        <table id="students-debts" class="ui selectable celled compact small table">
            <!-- data from script -->
        </table>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_students_all_debts.js' %}"></script>
<script>
    $('.ui.radio.checkbox').checkbox();
    $(document).ready(function() {
        if ($.fn.DataTable.isDataTable('#students-debts')) {
            $('#students-debts').DataTable().destroy();
        };
        const dataTableOptions = {
			columns: [
                { title: '<i class="hashtag small icon"></i>' },
                { title: 'Группа' },
                { title: 'Семестр' },
                { title: 'Студент' },
                { title: 'Основа обучения' },
                { title: 'Сессия' },
                { title: 'Пересдача' },
                { title: 'Комиссия' },
            ],
			language: {
				lengthMenu: '_MENU_ записей на страницу',
				zeroRecords: 'Записей нет...',
				info: 'Всего записей: _MAX_',
				infoEmpty: '',
				infoFiltered: 'Найдено: _TOTAL_',
				search: '',
				searchPlaceholder: 'поиск',
				paginate: {
					first:    '«',
					previous: '‹',
					next:     '›',
					last:     '»'
				}
			},
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'Все']
			],
			pageLength: 20,
            searching: true,
			autoWidth: false,
			columnDefs: [
				{ width: "3%", targets: 0 },
				{ width: "7%", targets: [1, 2] },
				{ width: "43%", targets: 3 },
				{ width: "10%", targets: [4, 5, 6, 7] },
				{ searchable: false, targets: 0 },
                { className: 'center aligned', targets: [0, 1, 2, 4, 5, 6, 7] },
				{
					targets: 4,
					createdCell: function(td, cellData, rowData, row, col) {
                        switch(cellData) {
                            case 'Контракт':
                                $(td).addClass('negative');
                                break
                            case 'ИГ':
                                $(td).addClass('blue');
                                break
                        };
					}
				},
			],
			headerCallback: function(thead, cellData, start, end, display) {
                $(thead).find('th').addClass('center aligned');
            },
		};
		var table = $('#students-debts').DataTable(dataTableOptions);

        let firstRow = $('#students-debts thead tr')[0];
        let secondRow = firstRow.cloneNode(true);
        firstRow.after(secondRow);

        let filterColumns = $('#students-debts thead tr')[1].children;
        for (let i = 0; i < filterColumns.length; i++) {
            let inputWidth = filterColumns[i].offsetWidth - 60;
            if(i != 0) {
                filterColumns[i].innerHTML = `
                                                <div class="ui input">
                                                    <input name="filter" type="text" style="width: ${inputWidth}px" data-index=${i}>
                                                </div>
                                            `;
            } else {filterColumns[i].innerHTML = ""};
        };

        // Filter event handler
        $(table.table().container()).on('keyup', 'thead input', function() {table
            .column($(this).data('index'))
            .search(this.value)
            .draw();
        });

        // Clean filters inputs by double-clicking above the head
        $(document).on("dblclick",  ".ui.stackable.grid", function() {
            let inputs = document.getElementsByName("filter");
            inputs.forEach(e => {
                e.value = "";
            });
            table.search('');
            table.columns().search('').draw();
        });
		changeDatatableInputFont();
		removeSortingLabel('students-debts');
    });
</script>

{% endblock %}
