<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% block title %}Обновить студента{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack; width: 80%">
    
	<div class="ui segments">
        <div class="ui center aligned secondary segment">
            <h3 style="font-family: Hack">Обновить студента</h3>
        </div>

        <!-- Form -->
		<div class="ui left aligned segment">
            <form id="form" action="#" method="post">
                {% csrf_token %}
                <div class="ui form">
                    <div class="three fields">
                        <div class="required field">
                            <label>Фамилия</label>
                            {{ form.last_name }}
                        </div>
                        <div class="required field">
                            <label>Имя</label>
                            {{ form.first_name }}
                        </div>
                        <div class="field">
                            <label>Отчество</label>
                            {{ form.second_name }}
                        </div>
                    </div>

                    <div class="ui hidden divider"></div>

                    <div class="six fields">
                        <div class="required two wide field {% if form.student_id.errors %} error {% endif %}">
                            <label>Зачетная книжка</label>
                            {{ form.student_id }}
                        </div>
                        <div class="required two wide field">
                            <label>Группа</label>
                            {% render_field form.group _no_label='True' %}
                        </div>
                        <div class="required two wide field">
                            <label>Семестр</label>
                            {% render_field form.semester _no_label='True' placeholder='Выбрать' %}
                        </div>
                        <div class="required two wide field">
                            <label>Гражданство</label>
                            {% render_field form.citizenship _no_label='True' %}
                        </div>
                        <div class="required two wide field">
                            <label>Основа обучения</label>
                            {% render_field form.basis _no_label='True' %}
                        </div>
                        <div class="required three wide field">
                            <label>Уровень обучения</label>
                            {% render_field form.level _no_label='True' %}
                        </div>

                        <div class="required three wide field {% if form.start_date.errors %} error {% endif %}">
                            <label>Дата зачисления</label>
                            <div class="ui input left icon">
                                <i class="calendar alternate outline icon"></i>
                                {{ form.start_date }}
                            </div>
                        </div>
                    </div>

                    <div class="ui hidden divider"></div>

                    <div class="inline required fields">
                        <label>Статус</label>
                        {% for status in form.status %}
                            <div class="field">
                                <div class="ui basic circular label">{{ status }}</div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="ui hidden divider"></div>

                    <div class="inline fields">
                        <label>Тэг</label>
                        {% for tag in form.tag %}
                            <div class="field">
                                <div class="ui basic circular label">{{ tag }}</div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="ui hidden divider"></div>

                    <div class="inline required fields">
                        <label>Стипендия</label>
                        {% for money in form.money %}
                            <div class="field">
                                <div class="ui basic circular label">{{ money }}</div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="ui hidden divider"></div>

                    <div class="field">
                        <label>Примечание</label>
                        <div class="ui blue message">
                            Для указания даты выхода в АО, используйте форму записи: <mark>АО:ДД.ММ.ГГГГ</mark><br>
                            Для указания даты с которой студент ушёл на больничный, используйте форму записи: <mark>Болеет:ДД.ММ.ГГГГ</mark>
                        </div>
                        {{ form.comment }}
                    </div>

                    <div class="field">
                        {% render_field form.is_archived _no_label='True' %}
                    </div>

                </div>
            </div>

            <!-- Button's -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'students:detail' student.student_id %}">
                    <button type="button" class="ui circular button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                </a>
                <a href="{% url 'students:detail' student.student_id %}">
                    <button type="submit" class="positive ui circular button" style="font-family: Hack"><i class="sync alternate icon"></i>Обновить</button>
                </a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
    changeFormsInputFont();
    // calendar
    $(function () {
        $("#id_start_date").datepicker({
            weekStart: 1,
            daysMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            format:'dd.mm.yyyy',
            autoHide: true,
        });
    });
</script>

{% endblock %}
