{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% load customfilters %}

{% block title %}{{ student.fullname }}{% endblock %}

{% block content %}
<div id="has-group" style="display: none">{{ request.user|has_group:"Сотрудники" }}</div>
<div id="student-id" style="display: none">{{ student.student_id }}</div>
<div id="segments" class="ui basic segments">

    <!-- Title & button -->
    <div class="ui basic segment">
        <div class="ui stackable two column grid">
            <div class="column">
                <h3 style="font-family: Hack">
                    {{ student.fullname|truncatechars:70 }} {% if student.is_ill %}<i class="heart broken red icon"></i>{% endif %}{% if student.is_archived %}<i class="archive brown icon"></i>{% endif %}
                </h3>
            </div>
            <div class="column right aligned">
                {% if request.user|has_group:"Сотрудники" %}
                    <button id="trash-button" class="ui red small circular button" onclick="showDeleteStudent({{ student.student_id }})"><i class="trash alternate outline icon"></i>Удалить</button>
                    <button id="update-button" class="positive ui small circular button" onclick="showUpdateStudent({{ student.student_id }})"><i class="sync alternate icon"></i>Обновить</button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <div id="tabs-segment" class="ui basic segment">

        <!-- Tab's titles -->
        <div class="ui secondary menu" style="font-family: Hack">
            <a class="item active" data-tab="first"><i class="info green icon"></i>Сводная информация</a>
            <a class="item" data-tab="second"><i class="graduation cap blue icon"></i>Оценки</a>
            <a class="item" data-tab="third"><i class="history red icon"></i>История изменений</a>
        </div>

        <!-- Tab 1 -->
        <!-- Details -->
        <div class="ui tab active" data-tab="first">
            <div class="ui equal width stackable grid">
                <div class="row">
                    <div class="column">
                        <table class="ui definition table" style="max-width: 700px">
                            <tbody>
                                <tr>
                                    <td style="width: 200px">Зачетная книжка</td>
                                    <td>{{ student.student_id }}</td>
                                </tr>
                                <tr>
                                    <td>Гражданство</td>
                                    <td>{{ student.get_citizenship_display }}</td>
                                </tr>
                                <tr>
                                    <td>Основа обучения</td>
                                    <td>{{ student.basis }}</td>
                                </tr>
                                <tr>
                                    <td>Уровень обучения</td>
                                    <td>{{ student.get_level_display }}</td>
                                </tr>
                                <tr>
                                    <td>Группа</td>
                                    <td>
                                        <a href="{% url 'groups:detail' groupname=student.group semester=student.semester.semester %}" class="ui circular grey inverted label">
                                            {{ student.group }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Семестр</td>
                                    <td><div class="ui circular grey inverted label">{{ student.semester.semester }}</div></td>
                                </tr>
                                <tr>
                                    <td>Дата зачисления</td>
                                    <td>{{ student.start_date|date:"l" }}, {{ student.start_date }}</td>
                                </tr>
                                <tr>
                                    <td>Стипендия</td>
                                    <td>
                                        <div class="ui yellow disabled rating" data-rating="{{ student.money_rate }}" data-max-rating="3"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Статус</td>
                                    {% if student.get_status_display == 'Отчислен' %}
                                        <td class="negative"><i class="icon close"></i>
                                            {{ student.get_status_display }}
                                        </td>
                                    {% elif student.get_status_display == 'Академический отпуск' %}
                                        <td class="warning"><i class="icon hourglass half"></i>
                                            {{ student.get_status_display }}
                                        </td>
                                    {% elif student.get_status_display == 'Выпускник' %}
                                        <td class="positive"><i class="icon rocket"></i>
                                            {{ student.get_status_display }}
                                        </td>
                                    {% else %}
                                        <td class="positive"><i class="icon checkmark"></i>
                                            {{ student.get_status_display }} {% if student.tag %}<div id="tag-label" class="ui small pink label">{{ student.tag }}</div>{% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>Примечание</td>
                                    <td>{{ student.comment|truncatechars:100 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Ranking -->
                <div class="row">
                    <div class="column">
                        <h4 style="font-family: Hack">Средний балл</h4>
                        <table class="ui compact celled fixed table center aligned" style="max-width: 700px">
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    {% if student.level == "Бакалавриат" %}
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                    {% endif %}
                                    <th>Общий</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for k, v in rating_by_semester.items %}
                                        <td>{{ v }}</td>
                                    {% endfor %}
                                    <td>{{ rating }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tab 2 -->
        <!-- Marks -->
        <div class="ui tab" data-tab="second">
            {% if request.user|has_group:"Сотрудники" %}
                <table class="ui unstackable compact table">
                    <tbody>
                        <tr class="grey">
                            <td class="right aligned">
                                <button
                                    class="ui positive small animated circular icon button"
                                    style="font-family: Hack"
                                    tabindex="0"
                                    onclick="showResultModal('{{ student.student_id }}')">
                                    <div class="visible content"><i class="icon plus circle"></i> Добавить</div>
                                    <div class="hidden content">оценку</div>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            <table id="student-marks" class="ui selectable celled compact fixed single line table">
                <thead>
                    <tr>
                        <th>Семестр</th>
                        <th>Группа</th>
                        <th>Дисциплина</th>
                        <th>Форма контроля</th>
                        <th>Преподаватель</th>
                        <th>Дата аттестации</th>
                        <th>Оценка</th>
                        <th></th>
                    </tr>
                </thead>
               <!-- data from JavaScript -->
            </table>
        </div>

        <!-- Tab 3 -->
        <!-- History -->
        <div class="ui tab" data-tab="third">
            <table class="ui unstackable table">
                <tbody>
                    <tr class="blue">
                        <td class="left aligned"><i class="plus circle icon"></i> {{ student.created_date }}</td>
                        <td class="right aligned"><i class="sync alternate icon"></i> {{ student.updated_date }}</td>
                    </tr>
                </tbody>
            </table>
            {% if history %}
                <table id="student-history" class="ui selectable celled compact table">

                    <thead>
                        <tr class="center aligned">
                            <th class="collapsing">Дата и время</th>
                            <th>Автор</th>
                            <th>Свойство</th>
                            <th>Было</th>
                            <th>Стало</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for record in history %}
                            <tr>
                                <td class="center aligned collapsing">{{ record.timestamp|date:"d.m.y | H:i" }}</td>
                                <td class="collapsing">{{ record.user_id|get_user_last_name }}</td>
                                <td class="collapsing">{{ record.field }}</td>
                                {% if record.field == 'Attestaion date' %}
                                    <td>{{ record.old_value|date_or_else }}</td>
                                    <td>{{ record.new_value|date_or_else }}</td>
                                {% else %}
                                    <td>{{ record.old_value|default:"---"|truncatechars:40 }}</td>
                                    <td>{{ record.new_value|default:"---"|truncatechars:40 }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="ui one column centered grid">
                    <div class="one column"></div>
                    <div class="ui center aligned container">
                        <p>Изменений пока нет...</p>
                    </div>
                    <div class="one column"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal for update student -->
<div id="student-update-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Изменить студента</div>
    <div class="content" style="font-family: Hack">
        <form id="student-update-form" method="POST">
            {% csrf_token %}
            <div class="ui small form">
                <div class="three fields">
                    <div class="required field">
                        <label>Фамилия</label>
                        {{ form.last_name }}
                    </div>
                    <div class="required field">
                        <label>Имя</label>
                        {{ form.first_name }}
                    </div>
                    <div class="field">
                        <label>Отчество</label>
                        {{ form.second_name }}
                    </div>
                </div>

                <div class="ui hidden divider"></div>

				<div class="five fields">
					<div class="required three wide field {% if form.student_id.errors %} error {% endif %}">
                        <label>Зачетная книжка</label>
                        {{ form.student_id }}
                    </div>
					<div class="required three wide field">
						<label>Группа</label>
						{% render_field form.group _no_label='True' placeholder='Выбрать' %}
					</div>
					<div class="required two wide field">
						<label>Семестр</label>
						{% render_field form.semester _no_label='True' placeholder='Выбрать' %}
					</div>
					<div class="required three wide field">
						<label>Гражданство</label>
						{% render_field form.citizenship _no_label='True' %}
					</div>
					<div class="required three wide field">
						<label>Основа обучения</label>
						{% render_field form.basis _no_label='True' placeholder='Выбрать' %}
					</div>
				</div>

                <div class="two fields">
                    <div class="required three wide field">
                        <label>Уровень обучения</label>
                        {% render_field form.level _no_label='True' %}
                    </div>

                    <div class="required three wide field {% if form.start_date.errors %} error {% endif %}">
                        <label>Дата зачисления</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar alternate outline icon"></i>
                                {{ form.start_date }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui hidden divider"></div>

				<div id="status" class="inline required fields">
                    <label>Статус</label>
                    {% for status in form.status %}
                        <div class="field">
                            <div class="ui label">{{ status }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="ui hidden divider"></div>

                <div class="inline fields">
                    <label>Тэг</label>
                    {% for tag in form.tag %}
                        <div class="field">
                            <div class="ui label">{{ tag }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="ui hidden divider"></div>

                <div class="inline required fields">
                    <label>Стипендия</label>
                    {% for money in form.money %}
                        <div class="field">
                            <div class="ui label">{{ money }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="ui hidden divider"></div>

                <div class="field">
                    <label>Примечание</label>
                    <div class="ui blue message">
                        Для указания даты выхода в АО, используйте форму записи: <mark>АО:ДД.ММ.ГГГГ</mark><br>
                        Для указания даты с которой студент ушёл на больничный, используйте форму записи: <mark>Болеет:ДД.ММ.ГГГГ</mark>
                    </div>
                    {{ form.comment }}
                </div>

                <div class="field">
                    {% render_field form.is_archived _no_label='True' %}
                </div>

            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="update-student-btn" class="ui blue circular button" onclick="updateStudent()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
    </div>
</div>

<!-- Modal for delete student -->
<div id="student-delete-modal" class="ui modal">
    <div class="basic center aligned header" style="font-family: Hack">Удалить cтудента</div>
    <div class="content" style="font-family: Hack">
        <table class="ui definition table" style="margin-top: 0">
            <tbody>
                <tr>
                    <td class="three wide">Зачетная книжка</td>
                    <td id="del-id"></td>
                </tr>
                <tr>
                    <td>Гражданство</td>
                    <td id="del-citizenship"></td>
                </tr>
                <tr>
                    <td>Основа обучения</td>
                    <td id="del-basis"></td>
                </tr>
                <tr>
                    <td>Уровень обучения</td>
                    <td id="del-level"></td>
                </tr>
                <tr>
                    <td>Группа</td>
                    <td id="del-group"></td>
                </tr>
                <tr>
                    <td>Семестр</td>
                    <td id="del-semester"></td>
                </tr>
                <tr>
                    <td>Дата зачисления</td>
                    <td id="del-date"></td>
                </tr>
                <tr>
                    <td>Стипендия</td>
                    <td id="del-money"></td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td id="del-status"></td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td id="del-comment"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="delete-student-btn" class="ui red circular button" onclick="deleteStudent()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
    </div>
</div>

<!-- Modal for add result -->
<div id="add-result-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Добавить оценку</div>
    <div class="content" style="font-family: Hack">
        <form id="add-form" method="POST">
			{% csrf_token %}
            <div class="ui form">
                <table class="ui very basic table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="required field">
                                    <label>Студент</label>
                                    {% render_field result_form.students _no_label='True' %}
                                </div>
                                                
                                <div class="required field">
                                    <label>Назначение</label>
                                    <div class="ui search selection dropdown" id="groupsubjects">
                                        <input type="hidden" name="groupsubjects">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Выбрать</div>
                                        <div class="menu">
                                            {% for g in result_form.groupsubject %}
                                                <div class="item">{{ g }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="two wide top center aligned">
                                <div class="required {% if result_form.mark.errors %} error {% endif %} field">
                                    <label>Оценки</label>
                                    {% render_field result_form.mark _no_label='True' _help='True' %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="inline fields">
                    <label>Тэг</label>
                    {% for tag in result_form.tag %}
                    <div class="field">
                        <div class="ui basic circular label">{{ tag }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="field">
                    {% render_field result_form.is_archived _no_label='True' %}
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" onclick="resetAddForm()" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div class="ui green circular button" onclick="saveResultForm()" style="font-family: Hack"><i class="save icon"></i>Сохранить</div>
    </div>
</div>

<!-- Modal for update result -->
<div id="result-update-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Изменить оценку</div>
    <div class="content" style="font-family: Hack">
        <form id="result-update-form" method="POST">
            {% csrf_token %}
            <div class="ui form">
                <table class="ui very basic table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="required field">
                                    <label>Студент</label>
                                    {% render_field result_form.students _no_label='True' placeholder='Выбрать...' _style='ChoiceField' %}
                                </div>
                                
                                <div class="required field">
                                    <label>Назначение</label>
                                    {% render_field result_form.groupsubject _no_label='True' placeholder='Выбрать...' %}
                                </div>
                            </td>
                            <td class="two wide top center aligned">
                                <div class="required {% if result_form.mark.errors %} error {% endif %} field">
                                    <label>Оценки</label>
                                    {% render_field result_form.mark _no_label='True' _help='True' %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="inline fields">
                    <label>Тэг</label>
                    {% for tag in result_form.tag %}
                    <div class="field">
                        <div class="ui basic circular label">{{ tag }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="field">
                    {% render_field result_form.is_archived _no_label='True' %}
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="update-result-btn" class="ui blue circular button" onclick="updateResult()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
    </div>
</div>
 
<!-- Modal for delete result -->
<div id="result-delete-modal" class="ui modal">
    <div class="basic center aligned header" style="font-family: Hack">Удалить оценку</div>
    <div class="content" style="font-family: Hack">
    <table class="ui definition table" style="margin-top: 0">
        <tbody>
            <tr>
                <td style="width: 150px">Студент</td>
                <td id="del-name"></td>
            </tr>
            <tr>
                <td>Группа</td>
                <td id="del-group"></td>
            </tr>
            <tr>
                <td>Семестр</td>
                <td id="del-semester"></td>
            </tr>
            <tr>
                <td>Дисциплина</td>
                <td id="del-subject"></td>
            </tr>
            <tr>
                <td>Форма контроя</td>
                <td id="del-formcontrol"></td>
            </tr>
            <tr>
                <td>Дата аттестации</td>
                <td id="del-date"></td>
            </tr>
            <tr>
                <td>Оценки</td>
                <td id="del-marks"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="basic actions">
    <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
    <div id="delete-result-btn" class="ui red circular button" onclick="deleteResult()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
    </div>
</div>
 
<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment_ru.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_student_detail.js' %}"></script>
<script type="text/javascript">
    $('.menu .item').tab();
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#student-marks')) {
            $('#student-marks').DataTable().destroy();
        };
        const marksDataTableOptions = {
            language: {
                lengthMenu: '_MENU_ записей на страницу',
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
                paginate: {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            lengthMenu: [
                [20, 50, -1],
                [20, 50, 'Все']
            ],
            pageLength: 20,
            searching: true,
            autoWidth: false,
            columnDefs: [
                { width: '7%', targets: 0 },
                { width: '7%', targets: 1 },
                { width: '40%', targets: 2 },
                { width: '11%', targets: 3 },
                { width: '11%', targets: 4 },
                { width: '12%', targets: 5 },
                { width: '9%', targets: 6 },
                { width: '3%', targets: 7 },
                { searchable: false, targets: 0 },
                { orderable: false, targets: 7 },
                { className: 'center aligned', targets: [0, 1, 4, 5, 6, 7] },
                {
					targets: [4, 5],
					createdCell: function(td, cellData, rowData, row, col) {
						if (String(cellData).includes('Нет')) {
							$(td).addClass('negative');
						};
					}
				},
            ],
            order: [[0, 'desc']],
            headerCallback: function(thead, cellData, start, end, display) {
                $(thead).find('th').addClass('center aligned');
            },
        };
        $('#student-marks').DataTable(marksDataTableOptions);

        $('#student-history').DataTable({
            language: {
                lengthMenu: '_MENU_ записей на страницу',
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
                paginate: {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            lengthMenu: [
                [20, 50, -1],
                [20, 50, 'Все']
            ],
            autoWidth: false,
            columnDefs: [
                { width: 150, targets: 0 },
                { width: 130, targets: 1 },
                { width: 130, targets: 2 },
            ],
            pageLength: 20,
            ordering: false,
        });
        var forms = document.forms;
        for (let i = 0; i < forms.length; i++) {
            var formElements = forms[i].elements;
            for (let j = 0; j < formElements.length; j++) {
                if (formElements[j].localName == "input" && formElements[j].type == "text") {
                    formElements[j].style.fontFamily = "Hack";
                };
            };
        };
        changeDatatableInputFont();
        deleteTitleBlockPaddingBottom();
        deleteTabsBlockPaddingBottom();
    });
</script>

{% endblock %}
