<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load customfilters %}

{% block title %}Средний балл студентов{% endblock %}

{% block content %}

{%csrf_token %}

<div id="segments" class="ui basic segments">

	<!-- Title -->
	<div id="title-segment" class="ui basic segment">
		<table class="ui very basic table">
			<tbody>
				<tr>
					<td><h2 style="font-family: Hack">Средний балл студентов</h2></td>
				</tr>
			</tbody>
		</table>
	</div>

    <!-- Filter set -->
    <div id="filter-segment" class="ui basic segment">
        <table class="ui very basic table">
			<tbody>
				<tr>
                    <td class="left aligned"><div id="info" class="ui grey label"><i class="info icon"></i>по умолчанию за 1ый семестр для всех активных студентов</div></td>
                    <!-- Groups -->
                    <td class="right aligned collapsing"><div id="info" class="ui grey label">Группа:</div></td>
                    <td class="right aligned" style="width: 600px">
                        <select id="groups" class="ui fluid clearable multiple selection dropdown four column" multiple="">
                            {% for g in groups %}
                                <option value="{{ g.id }}">{{ g.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <!-- Semester period -->
                    <td class="right aligned collapsing"><div id="info" class="ui grey label">За период:</div></td>
                    <td class="center aligned" style="width: 100px">
                        <div id="semester-start" class="ui floating dropdown">
                            <input type="hidden" name="semester-start">
                            <i class="dropdown icon"></i>
                            <div class="default text"><i class="arrow alternate circle down large grey icon"></i></div>
                            <div class="menu">
                                {% for sem in semesters %}
                                    <div class="item">{{ sem.semester }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td class="center aligned" style="width: 100px">
                        <div id="semester-stop" class="ui floating dropdown">
                            <input type="hidden" name="semester-stop">
                            <i class="dropdown icon"></i>
                            <div class="default text"><i class="arrow alternate circle down large grey icon"></i></div>
                            <div id="semester-stop-menu" class="menu">
                                <div class="item">-</div>
                                {% for sem in semesters %}
                                    <div class="item">{{ sem.semester }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>
   
	<!-- Table -->
	<div id="datatable-segment" class="ui basic segment">
        <table id="students-rating" class="ui selectable celled compact table">

            <thead>
                <tr class="center aligned">
                    <th>ФИО</th>
                    <th class="collapsing">Группа</th>
                    <th class="collapsing">Текущий семестр<br>студента</th>
                    <th class="collapsing">Основа обучения</th>
                    <th class="collapsing">Уровень обучения</th>
                    <th class="collapsing">Средний балл</th>
                </tr>
            </thead>

            <div class="ui active dimmer">
                <div class="ui indeterminate text loader">Загрузка данных...
                    <tbody>
                        <!-- Table data -->
                    </tbody>
                </div>
            </div>

        </table>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_students_rating.js' %}"></script>

<script type="text/javascript">
    /* on page ************************************************************************************************************/

    // delete padding-top for segmant with table
    function deletePaddingTopForDatatableSegment() {
        let datatableSegment = document.getElementById("datatable-segment");
        datatableSegment.style.paddingTop = '0';
    };

    /* script *************************************************************************************************************/

    deletePaddingTopBottomForFilterSegment();
    deletePaddingTopBottomForTitleSegment();
</script>

{% endblock %}
