<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load customfilters %}

{% block title %}Средний балл студентов{% endblock %}

{% block content %}

{%csrf_token %}

<div id="segments" class="ui basic segments">

	<!-- Title -->
    <div class="ui basic segment">
        <div class="ui stackable two column grid">
            <div class="column"><h2 style="font-family: Hack">Средний балл студентов</h2></div>
        </div>
    </div>

    <!-- Filter set -->
    <div id="filter-segment" class="ui basic segment">
        <table class="ui very basic table">
			<tbody>
				<tr>
                    <td class="left aligned"><div id="info" class="ui grey label"><i class="info icon"></i>по умолчанию за 1ый семестр для всех активных студентов</div></td>
                    <!-- Groups -->
                    <td class="right aligned collapsing"><div id="info" class="ui grey label">Группа:</div></td>
                    <td class="right aligned" style="width: 600px">
                        <select id="groups" class="ui fluid clearable multiple selection dropdown four column" multiple="">
                            {% for g in groups %}
                                <option value="{{ g.id }}">{{ g.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <!-- Semester period -->
                    <td class="right aligned collapsing"><div id="info" class="ui grey label">За период:</div></td>
                    <td class="center aligned" style="width: 100px">
                        <div id="semester-start" class="ui floating dropdown">
                            <input type="hidden" name="semester-start">
                            <i class="dropdown icon"></i>
                            <div class="default text"><i class="arrow alternate circle down large grey icon"></i></div>
                            <div class="menu">
                                {% for sem in semesters %}
                                    <div class="item">{{ sem.semester }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                    <td class="center aligned" style="width: 100px">
                        <div id="semester-stop" class="ui floating dropdown">
                            <input type="hidden" name="semester-stop">
                            <i class="dropdown icon"></i>
                            <div class="default text"><i class="arrow alternate circle down large grey icon"></i></div>
                            <div id="semester-stop-menu" class="menu">
                                <div class="item">-</div>
                                {% for sem in semesters %}
                                    <div class="item">{{ sem.semester }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>
   
	<!-- Table -->
	<div id="datatable-segment" class="ui basic segment">
        <table id="students-rating" class="ui selectable celled compact table">
            <!-- data from script -->
        </table>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_students_rating.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        if ($.fn.DataTable.isDataTable('#students-rating')) {
            $('#students-rating').DataTable().destroy();
        };

        const dataTableOptions = {
            columns: [
                { title: 'ФИО' },
                { title: 'Группа' },
                { title: 'Текущий семестр студента' },
                { title: 'Основа обучения' },
                { title: 'Уровень обучения' },
                { title: 'Средний балл' },
            ],
            language: {
				lengthMenu: '_MENU_ записей на страницу',
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
				paginate: {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                },
            },
            lengthMenu: [
                [20, 50, -1],
                [20, 50, 'Все']
            ],
            pageLength: 20,
            paging: true,
            searching: true,
            ordering: true,
            autoWidth: false,
            columnDefs: [
                { width: "35%", targets: 0 },
                { width: "17%", targets: 2 },
                { width: "12%", targets: [1, 3, 4, 5] },
                { searchable: false, targets: 0 },
                { className: 'center aligned', targets: [1, 2, 3, 4, 5] },
            ],
            order: [
                [5, 'desc']
            ],
            headerCallback: function(thead, data, start, end, display) {
                $(thead).find('th').addClass('center aligned');
            },
        };
        $('#students-rating').DataTable(dataTableOptions);
        changeDatatableInputFont();
        deletePaddingTopBottomForFilterSegment();
    });
</script>

{% endblock %}
