<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% block title %}Удалить {{ group.name }}{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack">
	<div class="ui segments">
        <div class="ui center aligned inverted red segment">
            <h3 style="font-family: Hack">Удалить группу</h3>
        </div>

        <!-- Form -->
        <div class="ui basic segment">
            <form action="" method="post">
                {% csrf_token %}
                <table class="ui definition table" style="margin-top: 0">
                    <tbody>
                        <tr>
                            <td class="four wide">Название</td>
                            <td>{{ group.name }}</td>
                        </tr>
                        <tr>
                            <td>Направление</td>
                            <td>{{ group.direction }}</td>
                        </tr>
                        <tr>
                            <td>Профиль|Специализация</td>
                            <td>{{ group.profile }}</td>
                        </tr>
                        <tr>
                            <td>Уровень обучения</td>
                            <td>{{ group.level }}</td>
                        </tr>
                        <tr>
                            <td>Шифр</td>
                            <td>{{ group.code }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

            <!-- Button's -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'groups:groups' %}">
                    <button type="button" class="ui circular button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button></a>
                <button type="submit" class="ui red circular button" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
