{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% load customfilters %}

{% block title %}Группы{% endblock %}

{% block content %}

<div id="has-group" style="display: none">{{ request.user|has_group:"Сотрудники" }}</div>
<div id="segments" class="ui basic segments">

    <!-- Title & button -->
    <div class="ui basic segment" style="padding-bottom: 0">
        <table class="ui very basic table">
            <tbody>
                <tr>
                    <td><h2 style="font-family: Hack">Группы</h2></td>
                    {% if request.user|has_group:"Сотрудники" %}
                        <td class="right aligned">
                            <button id="add-button" class="ui positive small circular button" onclick="showModal('add-modal')"><i class="icon plus circle"></i>Добавить</button>
                        </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Table -->
    <div class="ui basic segment">
        <div id="success" class="ui green nag">
            Успешно!
        </div>
        {% if groups %}
            <table id="groups-table" class="ui selectable compact celled table">
                <thead>
                    <tr class="center aligned">
                        <th><i class="hashtag small icon"></i></th>
                        <th>Название</th>
                        <th>Уровень</th>
                        <th>Направление</th>
                        <th>Профиль | Специализация</th>
                        <th>Шифр</th>
                        <th class="collapsing">Удалить</th>
                        <th class="collapsing">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- data from JavaScript -->
                </tbody>
            </table>
        {% else %}
            {% include 'empty_records.html' %}
        {% endif %}
    </div>
</div>

<!-- Modal for add group -->
<div id="add-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Добавить группу</div>
    <div class="content" style="font-family: Hack">
        <form id="add-form" method="POST">
            {% csrf_token %}
            <div class="ui large form">
                <div class="required field">
                    <label>Название</label>
                    {{ form.name }}
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>Направление</label>
                        {{ form.direction }}
                    </div>
                    <div class="required field">
                        <label>Профиль | Специализация</label>
                        {{ form.profile }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>Уровень обучения</label>
                        {% render_field form.level _no_label='True' placeholder='Выбрать' %}
                    </div>
                    <div class="required field {% if form.code.errors %} error {% endif %}">
                        <label>Шифр в формате: XX.XX.XX</label>
                        {{ form.code }}
                    </div>
                </div>
                <div class=" field">
                    {% render_field form.is_archived %}
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" onclick="resetAddForm()" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div class="ui green circular button" onclick="saveGroupForm()" style="font-family: Hack"><i class="save icon"></i>Сохранить</div>
    </div>
</div>

<!-- Modal for update group -->
<div id="update-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Изменить группу</div>
    <div class="content" style="font-family: Hack">
        <form id="update-form" method="POST">
            {% csrf_token %}
            <div class="ui form">
                <div class="required field">
                    <label>Название</label>
                    {{ form.name }}
                </div>
                <div class="two fields">
                    <div class="five wide required field">
                        <label>Направление</label>
                        {{ form.direction }}
                    </div>
                    <div class="eleven wide required field">
                        <label>Профиль | Специализация</label>
                        {{ form.profile }}
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>Уровень обучения</label>
                        {% render_field form.level _no_label='True' placeholder='Выбрать' %}
                    </div>
                    <div class="required field {% if form.code.errors %} error {% endif %}">
                        <label>Шифр в формате: XX.XX.XX</label>
                        {{ form.code }}
                    </div>
                </div>
                <div class=" field">
                    {% render_field form.is_archived %}
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="update-btn" class="ui blue circular button" onclick="updateGroup()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
    </div>
</div>

<!-- Modal for delete group -->
<div id="delete-modal" class="ui modal">
    <div class="basic center aligned header" style="font-family: Hack">Удалить группу</div>
    <div class="content" style="font-family: Hack">
        <table class="ui definition table" style="margin-top: 0">
            <tbody>
                <tr>
                    <td class="five wide">Название</td>
                    <td id="del-name"></td>
                </tr>
                <tr>
                    <td>Направление</td>
                    <td id="del-direction"></td>
                </tr>
                <tr>
                    <td>Профиль | Специализация</td>
                    <td id="del-profile"></td>
                </tr>
                <tr>
                    <td>Уровень обучения</td>
                    <td id="del-level"></td>
                </tr>
                <tr>
                    <td>Шифр</td>
                    <td id="del-code"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="delete-btn" class="ui red circular button" onclick="deleteGroup()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_groups.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        if ($.fn.DataTable.isDataTable('#groups-table')) {
            $('#groups-table').DataTable().destroy();
        };

        const dataTableOptions = {
            language: {
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
            },
            paging: false,
            searching: true,
            ordering: true,
            autoWidth: false,
            columnDefs: [
                { width: "3%", targets: [0, 6, 7] },
                { width: "10%", targets: [1, 2] },
                { width: "24%", targets: 3 },
                { width: "42%", targets: 4 },
                { width: "5%", targets: 5 },
                { orderable: false, targets: [6, 7] },
                { className: 'center aligned', targets: [0, 2, 5, 6, 7] },
            ],
        };

        $('#groups-table').DataTable(dataTableOptions);

        var forms = document.forms;
        for (let i = 0; i < forms.length; i++) {
            var formElements = forms[i].elements;
            for (let j = 0; j < formElements.length; j++) {
                if (formElements[j].localName == "input" && formElements[j].type == "text") {
                    formElements[j].style.fontFamily = "Hack";
                };
            };
        };
        changeDatatableInputFont();
    });
</script>

{% endblock %}
