<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% block title %}Карточки групп{% endblock %}

{% block content %}

<div id="groupcards" class="ui basic segment">
   <div class="ui equal width center aligned padded grid">
      <div class="row">

         <!-- Bachelor -->
         <div class="column">
            <h2 class="ui header center aligned" style="font-family: Hack"><i class="graduation cap grey icon"></i>Бакалавриат</h2>
            <div class="ui hidden divider"></div>

            <!-- Cards -->
            <div class="ui four cards">
               {% for group in group_list %}
                  {% if group.level == 'Бакалавриат' %}
                        <!-- Card -->
                        <div id="group-cards" class="ui card" style="width: 200px; margin-left: 35px">
                           <div class="content">
                              <!-- Link button to group -->
                              <div class="header left aligned">
                                 <button id="group-label" name="groupbutton" type="button" class="fluid ui grey small circular button" style="font-family: Hack"
                                    data-code="{{ group.code }}"
                                    data-direction="{{ group.direction }}"
                                    data-profile="{{ group.profile }}">
                                    {% if group.is_archived %}<i class="archive yellow icon"></i>{% endif %}
                                    {{ group.name }}
                                 </button>
                              </div>

                              <div class="ui horizontal divider">Семестр</div>

                              {% csrf_token %}
                              <!-- Semesters -->
                              <div class="extra content">

                                 <div class="ui grid">
                                    <div class="row" style="padding-bottom: 7px">
                                       <div class="column" style="padding-left: 0; padding-right: 0">
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="1" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=1 %}';">1</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="3" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=3 %}';">3</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="5" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=5 %}';">5</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="7" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=7 %}';">7</button>
                                       </div>
                                    </div>
                                    <div class="row" style="padding-top: 7px">
                                       <div class="column" style="padding-left: 0; padding-right: 0">
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="2" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=2 %}';">2</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="4" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=4 %}';">4</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="6" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=6 %}';">6</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="8" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=8 %}';">8</button>
                                       </div>
                                    </div>
                                 </div>

                              </div>
                           </div>
                        </div>
                  {% endif %}
               {% endfor %}
            </div>
         </div>

         <!-- Magistries -->
         <div class="column">
            <h2 class="ui header center aligned" style="font-family: Hack"><i class="graduation cap grey icon"></i>Магистратура</h2>
            <div class="ui hidden divider"></div>

            <!-- Cards -->
            <div class="ui three cards">
               {% for group in group_list %}
                  {% if group.level == 'Магистратура' %}
                        <!-- Card -->
                        <div id="group-cards" class="ui card" style="width: 200px; margin-left: 35px">
                           <div class="content">
                              <!-- Link button to group -->
                              <div class="header left aligned">
                                 <button id="group-label" name="groupbutton" type="button" class="fluid ui grey small circular button" style="font-family: Hack"
                                    data-code="{{ group.code }}"
                                    data-direction="{{ group.direction }}"
                                    data-profile="{{ group.profile }}">
                                    {% if group.is_archived %}<i class="archive yellow icon"></i>{% endif %}
                                    {{ group.name }}
                                 </button>
                              </div>

                              <div class="ui horizontal divider">Семестр</div>

                              {% csrf_token %}
                              <!-- Semesters -->
                              <div class="extra content">

                                 <div class="ui grid">
                                    <div class="row">
                                       <div class="column" style="padding-left: 0; padding-right: 0">
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="1" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=1 %}';">1</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="2" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=2 %}';">2</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="3" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=3 %}';">3</button>
                                          <button class="ui small circular basic button" style="font-family: Hack; width: 35px; padding-left: 0; padding-right: 0" name="semester" id="4" onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=4 %}';">4</button>
                                       </div>
                                    </div>
                                 </div>

                              </div>
                           </div>
                        </div>
                  {% endif %}
               {% endfor %}
            </div>
         </div>

      </div>
   </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<script type="text/javascript">
   // всплывающие окна с информацией о шифре, направлении, профиле группы
   document.addEventListener('DOMContentLoaded', function() {

      var groupbuttons = document.getElementsByName('groupbutton');
      groupbuttons.forEach(function(item){

         /* Назначаем каждой кнопке обработчик клика */
         item.addEventListener('click', function(event) {
            let code = $(this).data('code');
            let direction = $(this).data('direction');
            let profile = $(this).data('profile');
            swal({
               html: '<div class="ui small icon message right aligned" style="font-family: Hack">' +
                     '<i class="info green icon"></i>' +
                        '<div class="content">' +
                           "<p>" + code + "</p>" +
                           "<p>" + direction + "</p>" +
                           "<p>" + profile + "</p>" +
                        "</div>" +
                     "</div>",
            }),
            false
         });

      });

   });

   // стилизация всплывающего окна
   const attrObserver = new MutationObserver((mutations) => {
      mutations.forEach(mu => {
         if(mu.type === "attributes" && mu.attributeName === "class" && mu.target.className) {
            document.getElementsByClassName('swal2-actions')[0].remove();
            document.getElementsByClassName('swal2-header')[0].remove();
         } else {return};
      });
   });
   let targetNode = document.querySelectorAll('body');
   targetNode.forEach(el => attrObserver.observe(el, {attributes: true}));

   // подсветка текущих семестров
   $(document).ready(function() {
      var currentMonth = new Date().getMonth() + 1;

      autumn = [9, 10, 11, 12, 1];  // odd
      spring = [2, 3, 4, 5, 6, 7, 8];  // even

      semesterButtons = document.getElementsByName("semester");

      if(autumn.includes(currentMonth)) {
         semesterButtons.forEach(element => {
            num = parseInt(element.id) % 2;
            if(num == 1) {
               element.classList.add("grey");
               element.classList.remove("basic");
            };
         });
      } else if(spring.includes(currentMonth)) {
         semesterButtons.forEach(element => {
            num = parseInt(element.id) % 2;
            if(num == 0) {
               element.classList.add("grey");
               element.classList.remove("basic");
            };
         });
      };
   });
</script>

{% endblock %}
