<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load customfilters %}

{% block title %}{{ group }}-{{ semester }}{% endblock %}

{% block content %}

<div id="segments" class="ui basic segments">

   <!-- Title & button -->
   <div class="ui basic segment" style="padding-bottom: 0">
      <table class="ui black very basic table" style="margin-bottom: 0">
         <tbody>
            <tr>
               <!-- Group info -->
               <td class="seven wide top aligned">
                  <div class="ui accordion">
                     <div class="title"><i class="dropdown icon"></i>
                        <h2 id="groupname" style="font-family: Hack; display:inline;">{{ group }}</h2>
                     </div>
                     <div class="content">
                        {{ group.code }} | {{ group.direction }}<br>
                        {{ group.profile }}
                     </div>
                  </div>
               </td>
               <!-- Buttons -->
               <td id="buttons-cell" class="top aligned" colspan="2">
                  {% if request.user|has_group:"Сотрудники" %}
                     {% if subjects %}
                        <button
                           id="reset-button"
                           class="ui red small animated circular icon button"
                           tabindex="0"
                           onclick="showModal('reset-groupsubjects')">
                           <div class="visible content"><i class="share icon"></i> Сброс</div>
                           <div class="hidden content"> назначений</div>
                        </button>
                     {% endif %}
                     <button id="transfer" class="ui green small circular button" style="display: none" onclick=""><i class="level up alternate icon"></i>Перевести</button>
                     <button id="cancel-button" class="ui red small circular button" style="display: none" onclick="closeCheckboxColumn()"><i class="times circle icon"></i></i>Отмена</button>
                     <button
                        id="transfer-button"
                        class="ui violet small animated circular icon button"
                        tabindex="0"
                        onclick="openCheckboxColumn()">
                        <div class="visible content"><i class="level up alternate icon"></i> Перевод</div>
                        <div class="hidden content"> студентов</div>
                     </button>
                     <button
                        id="import-button"
                        class="ui orange small animated circular icon button"
                        tabindex="0"
                        onclick="showModal('import-results')">
                        <div class="visible content"><i class="download icon"></i> Импорт</div>
                        <div class="hidden content"> ведомости</div>
                     </button>
                  {% endif %}
               </td>
            </tr>
         </tbody>
      </table>
      
      <table class="ui very basic table" style="margin-top: 0">
         <tbody>
            <tr style="padding-bottom: 0">
               <!-- Previous semester -->
               <td colspan="2" name="info-td" class="two wide left aligned">
                  {% if previous_semester %}
                     <button
                        class="ui animated tiny circular icon button"
                        tabindex="0"
                        onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=previous_semester %}';">
                        <div class="visible content"><i class="angle left icon"></i></div>
                        <div class="hidden content">{{ previous_semester }}</div>
                     </button>
                  {% endif %}
               </td>
               <!-- Group counts -->
               <td name="info-td" class="center aligned">
                  <div class="ui circular label">
                     Курс
                     <div id="info" class="ui grey circular label">
                        {{ course }}
                     </div>
                     Семестр
                     <div id="info" class="ui grey circular label">
                        <div id="semester">{{ semester }}</div>
                     </div>
                     Численность
                     <div id="info" class="ui grey circular label">
                        {{ students.count }}
                     </div>
                  </div>
               </td>
               <!-- Next semester -->
               <td colspan="2" name="info-td" class="two wide right aligned">
                  {% if next_semester %}
                     <button
                        class="ui animated tiny circular icon button"
                        tabindex="0"
                        onclick="window.location.href = '{% url 'groups:detail' groupname=group.name semester=next_semester %}';">
                        <div class="visible content"><i class="angle right icon"></i></div>
                        <div class="hidden content">{{ next_semester }}</div>
                     </button>
                  {% endif %}
               </td>
            </tr>
         </tbody>
      </table>
   </div>

   <div id="datatable-segment" class="ui basic segment"style="padding-top: 0">
      {% if students or subjects %}
         <!-- Table -->
         <table id="group-detail-table" class="ui structured selectable small compact table">
            <!-- Head -->
            <thead>
               <tr>
                  <th id="hash" class="collapsing center aligned" rowspan="2">#</th>
                  <th class="collapsing center aligned" rowspan="2">
                     <span class="rotated-text left aligned">Основа обучения</span>
                  </th>
                  <th id="fio" class="center aligned" rowspan="2">ФИО</th>
                  <th class="collapsing center aligned" rowspan="2">
                     <span class="rotated-text left aligned">Стипендия</span>
                  </th>
                  <th name="att" class="collapsing center aligned" rowspan="2">
                     <span class="rotated-text left aligned">Сессия</span>
                  </th>
                  <th name="att" class="collapsing center aligned" rowspan="2">
                     <span class="rotated-text left aligned">Пересдача</span>
                  </th>
                  <th name="att" class="collapsing center aligned" rowspan="2">
                     <span class="rotated-text left aligned">Комиссия</span>
                  </th>
                  {% if subjects %}
                     {% for item in subjects %}
                        <th name="subjects" class="center aligned" style="width: 10px">
                           <span class="rotated-text left aligned">
                              <a
                                 style="color: black"
                                 data-group-subject="{{ item.id }}"
                                 href="{% if request.user|has_group:"Сотрудники" %}{% url 'subjects:detail' item.subjects.id %}{% else %}#{% endif %}">
                                 {{ item.subjects.name|truncatewords:10 }}
                              </a>
                           </span>
                        </th>
                     {% endfor %}
                  {% endif %}
               </tr>
               <tr>
                  {% if subjects %}
                     {% for item in subjects %}
                        <th name="formcontrol" class="one wide center aligned tooltip
                           {% if item.subjects.form_control == "Экзамен" %}
                              red
                           {% elif "Курсов" in item.subjects.form_control %}
                              blue
                           {% elif item.subjects.form_control == "Зачет" %}
                              brown
                           {% elif item.subjects.form_control == "Диффзачет" %}
                              grey
                           {% endif %}">{{ item.subjects.form_control|short_form_control }}
                           <div class="tooltiptext">
                              {% if item.att_date %}{{ item.att_date|date:"d.m.y" }}{% else %}{{ item.empty_att_date}}{% endif %}<br>{{ item.empty_teacher }}
                           </div>
                        </th>
                     {% endfor %}
                  {% endif %}
               </tr>
            </thead>

            <!-- Body -->
            <tbody id="groupmarks">
               <tr>
                  {%csrf_token %}
                  {% for student in students %}
                     <tr>
                        <td name="number" class="collapsing center aligned" data-student-id="{{ student.student_id }}">{{ forloop.counter }}</td>
                        <td name="has-negative" class="collapsing center aligned">{{ student.basis|short_basis }}</td>
                        <td name="student" class="collapsing"><a href="{{ student.get_absolute_url }}">{% if student.is_ill %}<i class="heart broken red icon"></i>{% endif %} {{ student.fullname }}</a> {% if student.tag %}<div id="tag-label" class="ui tiny pink label">{{ student.tag }}</div>{% endif %}</td>

                        <!-- Statistics and Marks -->

                     </tr>
                  {% endfor %}
               </tr>
            </tbody>
         </table>

      {% else %}
         {% include 'empty_records.html' %}
      {% endif %}
   </div>
</div>

<!-- Modal for import results -->
<div id="import-results" class="ui tiny modal">
   <div class="center aligned basic header" style="font-family: Hack">Загрузите ведомость <i class="file excel green icon"></i>EXCEL в формате [xls]</div>
   <div class="center aligned content">
      <div class="center aligned actions">
         <form method="post" enctype="multipart/form-data" class="ui form">
            {% csrf_token %}
            <div class="ui file input small">
               <input name="import_file" type="file" multiple style="font-family: Hack">
            </div>

            <div class="ui horizontal divider"></div>
            
            <div class="ui small cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
            <div class="ui primary small ok button" onclick="importResults()" type="submit" style="font-family: Hack"><i class="icon download"></i>Загрузить</div>
         </form>
      </div>
   </div>
</div>

<!-- Modal for errors -->
<div id="errors" class="ui small modal">
   <div class="basic center aligned header" style="font-family: Hack">Возникли ошибки по следующим данным</div>
   <div class="scrolling content" >
      <div id="errors-list" class="ui list" style="font-family: Hack"></div>
   </div>
</div>

<!-- Modal for reset groupsubjects -->
<div id="reset-groupsubjects" class="ui small modal">
   <div class="center aligned basic header" style="font-family: Hack">Вы уверены, что хотите сбросить все назначения предметов для группы?</div>
   <div class="center aligned content">
      <div class="center aligned actions">
            <div class="ui small circular cancel icon button" style="font-family: Hack"><i class="times circle icon"></i> Отмена</div>
            <div class="ui red small circular icon button" onclick="resetGroupSubjects()" type="submit" style="font-family: Hack"><i class="icon share"></i> Сбросить</div>
      </div>
   </div>
</div>

<!-- Modal for transfer students from 6 to 7 semester -->
<div id="choose-profile" class="ui mini modal">
   <div class="basic center aligned header" style="font-family: Hack">Выберите профильную группу</div>
   <div class="content center aligned" style="font-family: Hack">
      <div class="ui form">
         <div class="required field">
            <div id="profile" class="ui selection dropdown">
               <input type="hidden" name="profile">
               <i class="dropdown icon"></i>
               <div class="default text">Группа</div>
               <div class="menu">
                  {% for group in groups %}
                     <div class="item" data-value="{{ forloop.counter }}">{{ group }}</div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="basic actions center aligned">
      <div class="ui circular cancel button" onclick="$('#profile').dropdown('clear');" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
      <div class="ui green circular button" onclick="transferStudentsByProfile()" style="font-family: Hack"><i class="level up alternate icon"></i>Перевести</div>
   </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_group_detail.js' %}"></script>
<script type="text/javascript">
   /* on page *********************************************************************************************************/
   $('.ui.checkbox').checkbox();
   $('.ui.accordion').accordion();
   $('.selection.dropdown').dropdown();

   /* script **********************************************************************************************************/
   deleteSidePadding("name", "formcontrol");
   deleteSidePadding("name", "subjects");

   /* script_group_detail *********************************************************************************************/
   addHighlightMarks();
   addHightlightBasis();
   addColorForAttCells();
   deleteTableBorder();
</script>

{% endblock %}
