<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% block title %}Добавить группу{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack">
	<div class="ui segments">
        <div class="ui center aligned secondary segment">
            <h3 style="font-family: Hack">Добавить группу</h3>
        </div>

        <!-- Form -->
		<div class="ui left aligned segment">
            <form id="form" action="{% url 'groups:add' %}" method="post">
                {% csrf_token %}
                <div class="ui large form">
                    <div class="required field">
                        <label>Название</label>
                        {{ form.name }}
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label>Направление</label>
                            {{ form.direction }}
                        </div>
                        <div class="required field">
                            <label>Профиль|Специализация</label>
                            {{ form.profile }}
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="required field">
                            <label>Уровень обучения</label>
                            {% render_field form.level _no_label='True' placeholder='Выбрать' %}
                        </div>
                        <div class="required field {% if form.code.errors %} error {% endif %}">
                            <label>Шифр</label>
                            {{ form.code }}
                        </div>
                    </div>
                </div>
        </div>

        <!-- Button's -->
        <div class="ui right aligned secondary segment">
            <a href="{% url 'groups:groups' %}">
                <button type="button" class="ui circular button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button></a>
            <a href="{% url 'groups:groups' %}">
                <button type="submit" class="positive ui circular button" style="font-family: Hack"><i class="save icon"></i>Сохранить</button></a>
        </div>
            </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
    changeFormsInputFont();
</script>

{% endblock %}
