#header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 40px;
   font-family: Hack;
}
#content {
   padding-top: 40px;
   padding-bottom: 20px;
   padding-left: 40px;
   padding-right: 40px;
   font-family: Hack;
}
#breadcrumb {
   padding-left: 15px;
   padding-top: 10px;
}
#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   border-radius: 0em;
   font-family: Hack;
   background: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(2px);
}
#text {
   color: black;
}
#groupcards {
   padding-top: 20px;
   padding-bottom: 50px;
}
.rotated-text {
   writing-mode: vertical-rl;
   transform: scale(-1);
   inline-size: 300px;
}
#back-button-cell {
   text-align: right;
}
.tooltip:hover
.tooltiptext {
   visibility: visible;
   opacity: 0.90;
   transition: 0.7s;
}
.tooltiptext {
   width: auto;
   max-width: 130px;
   height: auto;
   background: rgb(0, 0, 0);
   border-radius: 5px;
   position: absolute;
   visibility: hidden;
   opacity: 0;
   padding: 5px;
   font-size: 12px;
   text-align: left;
   color: rgb(255, 255, 255);
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   top: 290px;
   margin-left: -40px;
}
.tooltiptext:before,
.tooltiptext:after {
   content: '';
   position: absolute;
   opacity: 1;
}
#header,
#cancel-button,
#group-info-label,
#group-label,
#back-button,
#download-button,
#update-button,
#transfer-button,
#transfer,
#add-button,
#import-button,
#trash-button,
#count-label,
#att-label,
#tag-label,
#widget,
#info,
[name="point"],
#edit-button {
   box-shadow: 0 8px 28px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

#group-cards {
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#import,
#help {
   box-shadow: 0px 0px 100px 50px rgba(0,0,0,0.10);
}

/* light shadow */
#groups-in-subject,
#semester-label {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#footer {
   box-shadow: 0 5px 20px 0px rgba(0, 0, 0, .5);
}

#toggle {
   color: rgba(255, 255, 255, 0.816);
   background: #1a1a1a;
   text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}

/* боковое меню *******************************************************************************************************/
.nav {
   /*  ширина */
   width: 230px;
   min-width: 230px;
   /* фиксируем и выставляем высоту панели на максимум */
   height: 100%;
   position: fixed;
   top: 40px;
   left: -320px;
   /* плавный переход смещения панели */
   -webkit-transition: left 0.3s;
   -moz-transition: left 0.3s;
   transition: left 0.3s;
   /* определяем цвет фона панели */
   background: rgba(27, 28, 29, 0.85);
   backdrop-filter: blur(2px);
   /* поверх других элементов */
   z-index: 2000;
   /* прокрутка меню */
   overflow-y: auto;
   /* тень */
   box-shadow: 15px 0 15px -15px rgba(0, 0, 0, .5);
}
.nav > ul > li .header {
   color:rgb(255, 255, 255);
   font-family: 'Hack';
   font-size: 1.1em;
   display: inline-block;
}
/* формируем меню */
.nav > ul {
   width: 230px;
   display: block;
   margin-left: 75px;
   list-style: none;
}
.nav > ul > li {
   line-height: 2.5;
   opacity: 1;
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   transform: translateX(-50%);
   -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
   -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
   -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
   transition: opacity .5s .1s, transform .5s .1s;
}

/* оформление ссылок пунктов меню */
.nav > ul > li > a {
   display: inline-block;
   position: relative;
   padding: 0;
   font-family: 'Hack';
   font-weight: 300;
   font-size: 0.9em;
   color: #dadada;
   width: 100%;
   text-decoration: none;
   /* плавный переход */
   -webkit-transition: color .5s ease, padding .5s ease;
   -moz-transition: color .5s ease, padding .5s ease;
   transition: color .5s ease, padding .5s ease;
}
/* состояние ссылок меню при наведении */
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
   color: white;
   padding-left: 15px;
}
/* линия подчеркивания разделов меню */
.nav > ul > li > div:before {
   content: '';
   display: block;
   position: absolute;
   right: 0;
   bottom: 0;
   height: 1px;
   width: 100%;
   -webkit-transition: width 0s ease;
   transition: width 0s ease;
}
.nav > ul > li > div:after {
   content: '';
   display: block;
   position: absolute;
   left: 0;
   bottom: 0;
   height: 1px;
   width: 100%;
   background: #949494;
   -webkit-transition: width .5s ease;
   transition: width .5s ease;
}
