{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% load customfilters %}

{% block title %}Кафедры{% endblock %}

{% block content %}

<div id="has-group" style="display: none">{{ request.user|has_group:"Сотрудники" }}</div>
<div id="num-cathedras" style="display: none">{{ cathedras }}</div>
<div id="segments" class="ui basic segments">

    <!-- Title & button -->
    <div class="ui basic segment">
        <div class="ui stackable two column grid">
            <div class="column"><h2 style="font-family: Hack">Кафедры</h2></div>
            <div class="column right aligned">
                {% if request.user|has_group:"Сотрудники" %}
                    <button id="import-button" class="ui orange small circular button" onclick="showModal('import-cathedras')"><i class="icon download"></i>Импорт CSV</button>
                    <button id="add-button" class="ui positive small circular button" onclick="showModal('add-modal')"><i class="icon plus circle"></i>Добавить</button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Table -->
    <div id="datatable-segment" class="ui basic segment">
        {% if cathedras %}
            <table id="cathedras-table" class="ui selectable celled compact table">
                <!-- data from script -->
            </table>
        {% else %}
            {% include 'empty_records.html' %}
        {% endif %}
    </div>
</div>

<!-- Modal for add cathedra -->
<div id="add-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Добавить кафедру</div>
    <div class="content" style="font-family: Hack">
        <form id="add-form" method="POST">
            {% csrf_token %}
            <div class="ui form">
                <div class="required field">
                    <label>Название</label>
                    {{ form.name }}
                </div>
                <div class="two fields">
                    <div class="four wide field">
                        <label>Сокращение [аббревиатура]</label>
                        {{ form.short_name }}
                    </div>
                    <div id="faculty" class="twelve wide field">
                        <label>Факультет</label>
                        {{ form.faculty }}
                        {% comment %} {% render_field form.faculty _no_label='True' %} {% endcomment %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" onclick="resetAddForm()" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div class="ui green circular button" onclick="saveCathedraForm()" style="font-family: Hack"><i class="save icon"></i>Сохранить</div>
    </div>
</div>

<!-- Modal for update cathedra -->
<div id="update-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Изменить кафедру</div>
    <div class="content" style="font-family: Hack">
        <form id="update-form" method="POST">
            {% csrf_token %}
            <div class="ui form">
                <div class="required field">
                    <label>Название</label>
                    {{ form.name }}
                </div>
                <div class="two fields">
                    <div class="four wide field">
                        <label>Сокращение [аббревиатура]</label>
                        {{ form.short_name }}
                    </div>
                    <div class="twelve wide field">
                        <label>Факультет</label>
                        {% render_field form.faculty _no_label='True' %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="update-btn" class="ui blue circular button" onclick="updateCathedra()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
    </div>
</div>

<!-- Modal for delete cathedra -->
<div id="delete-modal" class="ui modal">
    <div class="basic center aligned header" style="font-family: Hack">Удалить кафедру</div>
    <div class="content" style="font-family: Hack">
        <table class="ui very basic table">
            <tbody>
                <tr>
                    <td class="collapsing"><h4 style="font-family: Hack">Вы уверены, что хотите удалить кафедру:</h4></td>
                    <td class="left aligned">
                        <div id="del-name" class="ui large circular label"></div>
                    </td>
                </tr>
                <tr>
                    <td class="collapsing"><h4 style="font-family: Hack">Факультет:</h4></td>
                    <td class="left aligned">
                        <div id="del-fac" class="ui large circular label"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="delete-btn" class="ui red circular button" onclick="deleteCathedra()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
    </div>
</div>

<!-- Modal for import cathedras -->
<div id="import-cathedras" class="ui modal">
    <div class="basic center aligned header" style="font-family: Hack">Импорт кафедр</div>
    <div class="content" style="font-family: Hack">
        <table class="ui celled small table center aligned">
            <thead>
                <tr>
                    <th>Полное название кафедры</th>
                    <th>Сокращение</th>
                    <th>Факультет</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div name="point" class="ui red circular small label">1</div></td>
                    <td><div name="point" class="ui grey circular small label">2</div></td>
                    <td><div name="point" class="ui grey circular small label">3</div></td>
                </tr>
                <tr>
                    <td colspan="3" class="left aligned"><strong>Разделитель <;>. Заполнение данными начинать с 2ой строки.</strong></td>
                </tr>
            </tbody>
        </table>
  
        <table class="ui very basic small table">
            <tbody>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label"></div></td>
                    <td>Обязательные поля</td>
                </tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">2</div></td>
                    <td>аббревиатура, например: КСФиХ | пусто</td>
                </tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">3</div></td>
                    <td>сокращение факультета (из существующих) | пусто</td>
                </tr>
            </tbody>
        </table>
  
        <div class="ui basic segment center aligned">
           <form method="post">
                {% csrf_token %}
                <div class="ui grid">
                    <div class="column">
                        <div class="ui file input small">
                            <input name="import_file" type="file">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="basic actions">
        <div class="ui cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="import-btn" class="ui blue button" onclick="importCathedras()" style="font-family: Hack"><i class="icon download"></i>Загрузить</div>
    </div>
</div>

<!-- Modal for errors -->
<div id="errors" class="ui small modal">
    <div class="basic center aligned header" style="font-family: Hack">Возникли ошибки по следующим данным</div>
    <div class="scrolling content" >
        <div id="errors-list" class="ui list" style="font-family: Hack"></div>
    </div>
</div>
 
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_cathedras.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        if ($.fn.DataTable.isDataTable('#cathedras-table')) {
            $('#cathedras-table').DataTable().destroy();
        };
        const cathedras = document.getElementById('num-cathedras').textContent;

        const dataTableOptions = {
            columns: [
                { title: '<i class="hashtag small icon"></i>' },
                { title: 'Факультет' },
                { title: 'Сокращение' },
                { title: `Полное название <div id="count-label" class="ui left pointing grey tiny label">${cathedras}</div>` },
                { title: 'Удалить', orderable: false },
                { title: 'Изменить', orderable: false },
            ],
            language: {
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
            },
            paging: false,
            searching: true,
            ordering: true,
            autoWidth: false,
            columnDefs: [
                { width: "3%", targets: 0 },
                { width: "9%", targets: [1, 2] },
                { width: "5%", targets: [4, 5] },
                { orderable: false, targets: [4, 5] },
                { className: 'center aligned', targets: [0, 1, 2, 4, 5] },
            ],
            headerCallback: function(thead, data, start, end, display) {
                $(thead).find('th').addClass('center aligned');
            },
        };

        $('#cathedras-table').DataTable(dataTableOptions);

        var forms = document.forms;
        for (let i = 0; i < forms.length; i++) {
            var formElements = forms[i].elements;
            for (let j = 0; j < formElements.length; j++) {
                if (formElements[j].localName == "input" && formElements[j].type == "text") {
                    formElements[j].style.fontFamily = "Hack";
                };
            };
        };
        changeFileInputFont();
        changeDatatableInputFont();
        deletePaddingTopForDatatableSegment();
    });
</script>

{% endblock %}
