<!DOCTYPE html>

{% extends "base.html" %}

{% load semanticui %}

{% load static %}

{% block title %}Добавить кафедру{% endblock %}

{% block content %}

<div class="ui container" style="padding-top: 50px; width: 80%">
    
	<div class="ui segments">
        <div class="ui center aligned secondary segment">
            <h3 style="font-family: Hack">Добавить кафедру</h3>
        </div>

        <!-- Form -->
        <div class="ui left aligned segment">
            <form id="form" action="{% url 'subjects:cathedra_add' %}" method="post">
                {% csrf_token %}
                <div class="ui large form">
                    <div class="required field">
                        <label>Название</label>
                        {{ form.name }}
                    </div>
                    <div class="two fields">
                        <div class="four wide field">
                            <label>Сокращение [аббревиатура]</label>
                            {{ form.short_name }}
                        </div>
                        <div class="twelve wide field">
                            <label>Факультет</label>
                            {% render_field form.faculty _no_label='True' %}
                        </div>
                    </div>
                </div>
        </div>

            <!-- Button's -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'subjects:cathedras' %}">
                    <button type="button" class="ui circular button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                </a>
                <button type="submit" class="positive ui circular button" style="font-family: Hack"><i class="save icon"></i>Сохранить</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
    changeFormsInputFont();
</script>

{% endblock %}
