<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% block title %}Обновить {{ faculty.name }}{% endblock %}

{% block content %}

<div class="ui container" style="padding-top: 50px; width: 60%">
    
	<div class="ui segments">
        <div class="ui center aligned secondary segment">
            <h3 style="font-family: Hack">Обновить факультет</h3>
        </div>

        <!-- Form -->
        <div class="ui left aligned segment">
            <form id="form" action="{% url 'subjects:faculty_update' form.instance.id %}" method="POST">
                {% csrf_token %}
                <div class="ui large form">
                    <div class="required field">
                        <label>Полное название</label>
                        {{ form.name }}
                    </div>

                    <div class="required field">
                        <label>Сокращение [аббревиатура]</label>
                        {{ form.short_name }}
                    </div>
                </div>
        </div>

            <!-- Button's -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'subjects:faculties' %}">
                    <button type="button" class="ui circular button"style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                </a>
                <a href="{% url 'subjects:faculties' %}">
                    <button type="submit" class="positive ui circular button"style="font-family: Hack"><i class="sync alternate icon"></i>Обновить</button>
                </a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
    changeFormsInputFont();
</script>

{% endblock %}
