<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load customfilters %}

{% block title %}Назначения дисциплин{% endblock %}

{% block content %}

<div id="segments" class="ui basic segments">

    <!-- Title & button -->
	<div id="buttons-segment" class="ui basic segment">
        
        <table class="ui very basic table">
            <tbody>
                <tr>
                    <td><h2 style="font-family: Hack">Назначения дисциплин</h2></td>
                    {% if request.user|has_group:"Сотрудники" %}
                        <td class="right aligned">
                            <a href="{% url 'subjects:groupsubjects_import' %}">
                                <button id="import-button" class="ui orange small circular button" style="font-family: Hack"><i class="icon download"></i>Импорт CSV</button>
                            </a>
                            <a href="{% url 'subjects:groupsubject_add' %}">
                                <button id="add-button" class="ui positive small circular button" style="font-family: Hack"><i class="icon plus circle"></i>Добавить</button>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Table -->
    {% if groupsubject_list %}
        <div class="ui basic segment">
            <table id="group-subjects" class="ui selectable celled compact small table">
                <thead>
                    <tr class="center aligned">
                        <th id="numbers" class="collapsing"><i class="hashtag small icon"></i></th>
                        <th>Дисциплина <div id="count-label" class="ui left pointing grey tiny label">{{ groupsubject_list.count }}</div></th>
                        <th class="collapsing">Форма контроля</th>
                        <th class="collapsing">Группа</th>
                        <th class="collapsing">Семестр</th>
                        <th class="collapsing">Преподаватель {% if empty_teacher %}<br><div id="count-label" class="ui red mini label">
                            {{ empty_teacher }}</div>{% endif %}
                        </th>
                        <th class="collapsing">Дата аттестации {% if empty_date %}<br><div id="count-label" class="ui red mini label">
                            {{ empty_date }}</div>{% endif %}
                        </th>
                        <th class="collapsing">Кафедра</th>
                        <th name="actions" class="collapsing"><i class="trash alternate outline icon"></i></th>
                        <th name="actions" class="collapsing"><i class="edit icon"></i></th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in groupsubjects_list %}
                        <tr>
                            <td class="collapsing center aligned">{{ forloop.counter }}</td>
                            <td><a href="{{ item.subjects.get_absolute_url }}">{{ item.subjects.name|truncatechars:45 }}</a></td>
                            <td class="collapsing">{{ item.subjects.form_control }}</td>

                            <td class="center aligned collapsing">
                                <a onclick="window.location.href = '{% url 'groups:detail' groupname=item.groups semester=item.subjects.semester.semester  %}'">
                                    {{ item.groups }}
                                </a>
                            </td>

                            <td class="center aligned collapsing">{{ item.subjects.semester.semester }}</td>

                            {% if item.teacher %}
                                <td class="collapsing">{{ item.teacher }}</td>
                            {% else %}
                                <td class="negative collapsing center aligned"><i class="icon close"></i>
                                    {{ item.empty_teacher }}
                                </td>
                            {% endif %}

                            {% if item.att_date %}
                                <td class="collapsing center aligned">
                                    {{ item.empty_att_date|date:"D d M Y" }}
                                </td>
                            {% else %}
                                <td class="negative collapsing center aligned"><i class="icon close"></i>
                                    {{ item.empty_att_date }}
                                </td>
                            {% endif %}

                            {% if item.subjects.cathedra.short_name %}
                                <td class="center aligned collapsing">
                                    {{ item.subjects.cathedra.short_name }}
                                </td>
                            {% else %}
                                <td class="center aligned negative collapsing">
                                    <i class="icon close"></i> Нет
                                </td>
                            {% endif %}

                            <td class="center aligned collapsing">
                                <a href="{% if request.user|has_group:"Сотрудники" %}{% url 'subjects:groupsubject_delete' item.id %}{% else %}#{% endif %}">
                                    <button id="trash-button" class="circular ui red mini icon button">
                                        <i class="trash alternate outline icon"></i>
                                    </button>
                                </a>
                            </td>
                            <td class="center aligned collapsing">
                                <a href="{% if request.user|has_group:"Сотрудники" %}{% url 'subjects:groupsubject_update' item.id %}{% else %}#{% endif %}">
                                    <button id="edit-button" class="circular ui blue mini icon button">
                                        <i class="edit icon"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% include 'empty_records.html' %}
    {% endif %}
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<!-- DataTable -->
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/4.1.0/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

<script type="text/javascript">
    let firstRow = $('#group-subjects thead tr')[0];
        let secondRow = firstRow.cloneNode(true);
        firstRow.after(secondRow);

        let filterColumns = $('#group-subjects thead tr')[0].children;
        for (let i = 0; i < filterColumns.length; i++) {
            let inputWidth = filterColumns[i].offsetWidth - 15;
            if(![0, 8, 9].includes(i)) {
                filterColumns[i].innerHTML = '<div class="ui input">' + '<input name="filter" style="max-width: 250px; width: ' + inputWidth + 'px" type="text" data-index="' + i + '" /></div>';
            } else {filterColumns[i].innerHTML = ""};
        };

    document.querySelector('#group-subjects').style.width = "100%";

    // DataTable
    $(document).ready(function() {
        document.querySelector('#group-subjects').style.width = "100%";
        var table = $('#group-subjects').DataTable({
            language: {
                lengthMenu: '_MENU_ записей на страницу',
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
                paginate: {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            lengthMenu: [
                [20, 50, -1],
                [20, 50, 'Все']
            ],
            pageLength: 20,
            columnDefs: [
                { searchable: false, targets: [0, 8, 9] },
                { orderable: false, targets: [8, 9] },
            ],
        });

        // Filter event handler
        $(table.table().container()).on('keyup', 'thead input', function() {table
            .column($(this).data('index'))
            .search(this.value)
            .draw();
        });

        // Clean filters inputs by double-clicking above the head
        $(document).on("dblclick",  ".ui.stackable.grid", function() {
            let inputs = document.getElementsByName("filter");
            inputs.forEach(e => {
                e.value = "";
            });
            table.search('');
            table.columns().search('').draw();
        });
        changeDatatableInputFont();
        deletePaddingTopForDatatableSegment();
    });
</script>

{% endblock %}
