<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% load customfilters %}

{% block title %}Назначения дисциплин{% endblock %}

{% block content %}
<div id="has-group" style="display: none">{{ request.user|has_group:"Сотрудники" }}</div>
<div id="num-group-subjects" style="display: none">{{ groupsubjects }}</div>
<div id="num-empty-teachers" style="display: none">{{ empty_teachers }}</div>
<div id="num-empty-dates" style="display: none">{{ empty_dates }}</div>
<div id="segments" class="ui basic segments">
	<!-- Title & button -->
	<div class="ui basic segment">
        <div class="ui stackable two column grid">
            <div class="column"><h2 style="font-family: Hack">Назначения дисциплин</h2></div>
            <div class="column right aligned">
                {% if request.user|has_group:"Сотрудники" %}
                    <button id="import-button" class="ui orange small circular button" onclick="showModal('import-groupsubjects')"><i class="icon download"></i>Импорт CSV</button>
                    <button id="add-button" class="ui positive small circular button" onclick="showModal('add-modal')"><i class="icon plus circle"></i>Добавить</button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Table -->
	<div id="datatable-segment" class="ui basic segment">
        <table id="group-subjects-table" class="ui selectable celled compact fixed single line table">
            <!-- data from script -->
        </table>
    </div>
</div>

<!-- Modal for add groupsubject -->
<div id="add-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Добавить назначение</div>
    <div class="content" style="font-family: Hack">
        <form id="add-form" method="POST">
			{% csrf_token %}
            <div class="ui large form">
                <div class="required field">
                    <label>Дисциплина</label>
                    <div class="ui search selection dropdown" id="subjects">
                        <input type="hidden" name="subjects">
                        <i class="dropdown icon"></i>
                        <div class="default text">Выбрать или начать вводить текст</div>
                        <div class="menu">
                            {% for s in form.subjects %}
                            <div class="item">{{ s }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                <div class="required field">
                    <label>Группа</label>
                    <div class="ui search selection dropdown five column" id="groups">
                        <input type="hidden" name="groups">
                        <i class="dropdown icon"></i>
                        <div class="default text">Выбрать или начать вводить текст</div>
                        <div class="menu">
                            {% for g in form.groups %}
                                <div class="item">{{ g }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="two fields">
                    <div class="seven wide field {% if form.teacher.errors %} error {% endif %}">
                        <label>Фамилия И.О. преподавателя</label>
                        {{ form.teacher }}
                    </div>

                    <div class="four wide field {% if form.att_date.errors %} error {% endif %}">
                        <label>Дата аттестации</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar alternate outline icon"></i>
                                {{ form.att_date }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Примечание</label>
                    {{ form.comment }}
                </div>

                <div class="field">
                    {% render_field form.is_archived _no_label='True' %}
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" onclick="resetAddForm()" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div class="ui green circular button" onclick="saveGroupSubjectForm()" style="font-family: Hack"><i class="save icon"></i>Сохранить</div>
    </div>
</div>

<!-- Modal for update groupsubject -->
<div id="group-subject-update-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Изменить назначение</div>
    <div class="content" style="font-family: Hack">
        <form id="group-subject-update-form" method="POST">
            {% csrf_token %}
            <div class="ui large form">
                <div class="required field">
                    <label>Дисциплина</label>
                    {% render_field form.subjects _no_label='True' %}
                </div>

                <div class="required field">
                    <label>Группа</label>
                    {% render_field form.groups _no_label='True' %}
                </div>

                <div class="two fields">
                    <div class="seven wide field {% if form.teacher.errors %} error {% endif %}">
                        <label>Фамилия И.О. преподавателя</label>
                        {{ form.teacher }}
                    </div>

                    <div class="four wide field {% if form.att_date.errors %} error {% endif %}">
                        <label>Дата аттестации</label>
                        <div class="ui calendar">
                            <div class="ui input left icon">
                                <i class="calendar alternate outline icon"></i>
                                {{ form.att_date }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Примечание</label>
                    {{ form.comment }}
                </div>

                <div class="field">
                    {% render_field form.is_archived _no_label='True' %}
                </div>
            </div>

        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="update-btn" class="ui blue circular button" onclick="updateGroupSubject()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
    </div>
</div>

<!-- Modal for delete groupsubject -->
<div id="group-subject-delete-modal" class="ui modal">
    <div class="basic center aligned header" style="font-family: Hack">Удалить назначение</div>
    <div class="content" style="font-family: Hack">
        <table class="ui definition table" style="margin-top: 0">
            <tbody>
                <tr>
                    <td class="three wide">Дисциплина</td>
                    <td id="del-subject"></td>
                </tr>
                <tr>
                    <td>Форма контроля</td>
                    <td id="del-formcontrol"></td>
                </tr>
                <tr>
                    <td>Группа</td>
                    <td id="del-group"></div></td>
                </tr>
                <tr>
                    <td>Преподаватель</td>
                    <td id="del-teacher"></td>
                </tr>
                <tr>
                    <td>Дата аттестации</td>
                    <td id="del-date"></td>
                </tr>
                <tr>
                    <td>Кафедра</td>
                    <td id="del-cathedra"></td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td id="del-comment"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="delete-btn" class="ui red circular button" onclick="deleteGroupSubject()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
    </div>
</div>

<!-- Modal for import groupsubjects -->
<div id="import-groupsubjects" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Импорт назначений</div>
    <div class="content" style="font-family: Hack">
        <table class="ui celled small table center aligned">
            <thead>
                <tr>
                    <th>Дисциплина</th>
                    <th>Форма контроля</th>
                    <th>Семестр</th>
                    <th>Группа</th>
                    <th>Преподаватель</th>
                    <th>Дата аттестации</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><div name="point" class="ui red circular small label">1</div></td>
                    <td><div name="point" class="ui red circular small label">2</div></td>
                    <td><div name="point" class="ui red circular small label">3</div></td>
                    <td><div name="point" class="ui red circular small label">4</div></td>
                    <td><div name="point" class="ui grey circular small label">5</div></td>
                    <td><div name="point" class="ui grey circular small label">6</div></td>
                </tr>
                <tr>
                    <td colspan="6" class="left aligned"><strong>Разделитель <;>. Заполнение данными начинать с 2ой строки.</strong></td>
                </tr>
            </tbody>
        </table>
        <table class="ui very basic small table">
            <tbody>
                <tr>
					<td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label"></div></td>
					<td>Обязательные поля</td>
				</tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">1</div></td>
                    <td>Дисциплина, которая уже внесена в рейтинг</td>
                </tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">2</div></td>
                    <td>Экзамен | Зачет | Диффзачет | Курсовой проект | Курсовая работа</td>
                </tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">3</div></td>
                    <td>Номер семестра, в котором аттестация по указанной дисциплине </td>
                </tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui red circular small label">4</div></td>
                    <td>Группа, которой необходимо пройти аттестацию в указанном семестре по дисциплине</td>
                </tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">5</div></td>
                    <td>формат: Фамилия И.О. | пусто</td>
                </tr>
                <tr>
                    <td class="center aligned" style="width: 30px"><div name="point" class="ui grey circular small label">6</div></td>
                    <td>формат: дд.мм.гггг | пусто</td>
                </tr>
            </tbody>
        </table>
		<div class="ui basic segment center aligned">
			<form id="upload-file-form" method="post">
				{% csrf_token %}
				<div class="ui grid">
					<div class="column">
						<div class="ui file input small">
							<input name="import_file" type="file">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="basic actions">
		<div class="ui cancel button" onclick="document.querySelector('#upload-file-form').reset()" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
		<div id="import-btn" class="ui blue button" onclick="importGroupSubjects()" style="font-family: Hack"><i class="icon download"></i>Загрузить</div>
	</div>
</div>

<!-- Modal for errors -->
<div id="errors" class="ui small modal">
    <div class="basic center aligned header" style="font-family: Hack">Возникли ошибки по следующим данным</div>
    <div class="scrolling content" >
        <div id="errors-list" class="ui list" style="font-family: Hack"></div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ru.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_groupsubjects.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
		if ($.fn.DataTable.isDataTable('#group-subjects-table')) {
			$('#group-subjects-table').DataTable().destroy();
		};

		const groupSubjects = document.getElementById('num-group-subjects').textContent;
		const emptyTeachers = document.getElementById('num-empty-teachers').textContent;
		const emptyDates = document.getElementById('num-empty-dates').textContent;

		const dataTableOptions = {
			columns: [
                { title: '<i class="hashtag small icon"></i>' },
                { title: `Дисциплина <div id="count-label" class="ui left pointing grey tiny label">${groupSubjects}</div>` },
                { title: 'Форма контроля' },
                { title: 'Группа' },
                { title: 'Семестр' },
                { title: `Преподаватель${(emptyTeachers) ? `<br><div id="count-label" class="ui red mini label">${emptyTeachers}</div>`: ''}` },
                { title: `Дата<br>аттестации${(emptyDates) ? `<br><div id="count-label" class="ui red mini label">${emptyDates}</div>`: ''}` },
                { title: 'Кафедра' },
                { title: '<i class="trash alternate outline icon"></i>' },
                { title: '<i class="edit icon"></i>' },
            ],
			language: {
				lengthMenu: '_MENU_ записей на страницу',
				zeroRecords: 'Записей нет...',
				info: 'Всего записей: _MAX_',
				infoEmpty: '',
				infoFiltered: 'Найдено: _TOTAL_',
				search: '',
				searchPlaceholder: 'поиск',
				paginate: {
					first:    '«',
					previous: '‹',
					next:     '›',
					last:     '»'
				}
			},
			lengthMenu: [
				[20, 50, -1],
				[20, 50, 'Все']
			],
			pageLength: 20,
            searching: true,
			autoWidth: false,
			columnDefs: [
				{ width: "3%", targets: [0, 8, 9] },
                { width: "39%", targets: 1 },
                { width: "10%", targets: [2, 5, 6] },
                { width: "8%", targets: 3 },
                { width: "7%", targets: [4, 7] },
				{ searchable: false, targets: [0, 8, 9] },
                { orderable: false, targets: [8, 9] },
                { className: 'center aligned', targets: [0, 3, 4, 5, 6, 7, 8, 9] },
				{
					targets: [5, 7],
					createdCell: function(td, cellData, rowData, row, col) {
						if (cellData.includes('Нет')) {
							$(td).addClass('negative');
						};
					}
				},
				{
					targets: 6,
					createdCell: function(td, cellData, rowData, row, col) {
						if (!(cellData instanceof Date) && cellData.includes('Нет')) {
							$(td).addClass('negative');
						} else {
                            moment.locale('ru');
                            $(td).text(moment(cellData).format('DD.MM.YY'));
                        };
					}
				},
			],
			headerCallback: function(thead, cellData, start, end, display) {
                $(thead).find('th').addClass('center aligned');
            },
		};
		var table = $('#group-subjects-table').DataTable(dataTableOptions);

		let firstRow = $('#group-subjects-table thead tr')[0];
		let secondRow = firstRow.cloneNode(true);
		firstRow.after(secondRow);

		let filterColumns = $('#group-subjects-table thead tr')[1].children;
		for (let i = 0; i < filterColumns.length; i++) {
			let inputWidth = filterColumns[i].offsetWidth - 60;
			if(![0, 8, 9].includes(i)) {
				filterColumns[i].innerHTML = `
												<div class="ui input">
													<input name="filter" type="text" style="width: ${inputWidth}px" data-index=${i}>
												</div>
											`;
			} else {filterColumns[i].innerHTML = ""};
		};

		// Filter event handler
		$(table.table().container()).on('keyup', 'thead input', function() {table
			.column($(this).data('index'))
			.search(this.value)
			.draw();
		});

		// Clean filters inputs by double-clicking above the head
		$(document).on("dblclick",  ".ui.stackable.grid", function() {
			let inputs = document.getElementsByName("filter");
			inputs.forEach(e => {
				e.value = "";
			});
			table.search('');
			table.columns().search('').draw();
		});
		changeDatatableInputFont();
		removeSortingLabel('group-subjects-table');
	});
    $(document).ready(function() {
        var forms = document.forms;
        for (let i = 0; i < forms.length; i++) {
            var formElements = forms[i].elements;
            for (let j = 0; j < formElements.length; j++) {
                if (formElements[j].localName == "input" && formElements[j].type == "text") {
                    formElements[j].style.fontFamily = "Hack";
                };
            };
        };
    });
</script>

{% endblock %}
