<!DOCTYPE html>

{% extends "base.html" %}

{% load semanticui %}

{% load static %}

{% block title %}Добавить назначение{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack">
	<div class="ui segments">
        <div class="ui center aligned secondary segment">
            <h3 style="font-family: Hack">Добавить назначение</h3>
        </div>

        <!-- Form -->
		<div class="ui segment">
            <form id="form" action="{% url 'subjects:groupsubject_add' %}" method="post">
                {% csrf_token %}
                {% if form.errors %} {{ form.errors }} {% endif %}
                <div class="ui large form">
                    <div class="required field">
                        <label>Дисциплина</label>
                        <div class="ui search selection dropdown" id="subjects">
                            <input type="hidden" name="subjects">
                            <i class="dropdown icon"></i>
                            <div class="default text">Выбрать или начать вводить текст</div>
                            <div class="menu">
                                {% for s in form.subjects %}
                                <div class="item">{{ s }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="required field">
                        <label>Группа</label>
                        <div class="ui search selection dropdown five column" id="groups">
                            <input type="hidden" name="groups">
                            <i class="dropdown icon"></i>
                            <div class="default text">Выбрать или начать вводить текст</div>
                            <div class="menu">
                                {% for g in form.groups %}
                                    <div class="item">{{ g }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="two fields">
                        <div class="seven wide field {% if form.teacher.errors %} error {% endif %}">
                            <label>Фамилия И.О. преподавателя</label>
                            {{ form.teacher }}
                        </div>

                        <div class="four wide field {% if form.att_date.errors %} error {% endif %}">
                            <label>Дата аттестации</label>
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar alternate outline icon"></i>
                                    {{ form.att_date }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Примечание</label>
                        {{ form.comment }}
                    </div>

                    <div class="field">
                        {% render_field form.is_archived _no_label='True' %}
                    </div>
                </div>
            </div>
            <!-- Button's -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'subjects:groupsubjects' %}">
                    <button type="button" class="ui circular button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                </a>
                <button type="submit" class="positive ui circular button" style="font-family: Hack"><i class="save icon"></i>Сохранить</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
    changeFormsInputFont();

    $('select.dropdown').dropdown();
    
    // calendar
    $(function () {
        $("#id_att_date").datepicker({
            weekStart: 1,
            daysMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            format:'dd.mm.yyyy',
            autoHide: true,
        });
    });
</script>
 
{% endblock %}
