<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}Удалить назначение{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack; padding-top: 50px">
    
	<div class="ui segments">
        <div class="ui center aligned inverted red segment">
            <h3 style="font-family: Hack">Удалить назначение дисциплины</h3>
        </div>

        <!-- Form -->
        <div class="ui center aligned segment">
            <form method="POST">
                {% csrf_token %}
                <table class="ui definition table" style="margin-top: 0">
                    <tbody>
                        <tr>
                            <td class="three wide">Дисциплина</td>
                            <td>{{ groupsubject.subjects.name }}</td>
                        </tr>
                        <tr>
                            <td>Форма контроля</td>
                            <td>{{ groupsubject.subjects.form_control }}</td>
                        </tr>
                        <tr>
                            <td>Группа</td>
                            <td>{{ groupsubject.groups }}-{{ groupsubject.subjects.semester.semester }}</td>
                        </tr>
                        <tr>
                            <td>Кафедра</td>
                            <td>{{ groupsubject.subjects.empty_cathedra }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

            <!-- Button's -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'subjects:groupsubjects' %}">
                    <button type="button" class="ui button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                </a>
                <button type="submit" class="ui red button" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
