<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}Удалить {{ subject.name }}{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack; padding-top: 50px">
    
	<div class="ui segments">
        <div class="ui center aligned inverted red segment">
            <h3 style="font-family: Hack">Удалить дисциплину</h3>
        </div>

        <!-- Form -->
        <div class="ui center aligned segment">
            <form action="" method="post">
                {% csrf_token %}
                <table class="ui definition table" style="margin-top: 0">
                    <tbody>
                        <tr>
                            <td>Название</td>
                            <td>{{ subject.name }}</td>
                        </tr>
                        <tr>
                            <td>Семестр</td>
                            <td>
                                <div class="ui circular label">{{ subject.semester.semester }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="three wide">Группы</td>
                            {% if groups %}
                                <td class="left aligned">
                                    {% for group in groups %}
                                        <div class="ui circular label">
                                            {{ group }}
                                        </div>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td class="negative">
                                    Не назначено
                                </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Форма контроля</td>
                            <td>{{ subject.get_form_control_display }}</td>
                        </tr>
                        <tr>
                            <td>Факультет</td>
                            {% if subject.cathedra.faculty.short_name and subject.cathedra.faculty.name is not None %}
                                <td>{{ subject.cathedra.faculty.name }}</td>
                            {% else %}
                                <td class="negative collapsing"><i class="icon close"></i> Нет</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Кафедра</td>
                                {% if subject.cathedra %}
                                    <td>
                                        {{ subject.cathedra|default_if_none:"" }}
                                    </td>
                                {% else %}
                                    <td class="negative collapsing"><i class="icon close"></i> Нет</td>
                                {% endif %}
                        </tr>
                        <tr>
                            <td>ЗЕТ</td>
                            {% if subject.zet %}
                                <td>{{ subject.zet }}</td>
                            {% else %}
                                <td class="negative"><i class="icon close"></i>{{ subject.empty_zet }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Примечание</td>
                            <td>{{ subject.comment }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

            <!-- Buttons -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'subjects:detail' subject.id %}">
                    <button type="button" class="ui circular button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button></a>
                <button type="submit" class="ui red circular button" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
