<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% load customfilters %}

{% block title %}{{ subject.name }}{% endblock %}

{% block content %}

<div id="segments" class="ui basic segments">

    <!-- Title & button -->
    <div class="ui basic segment">
        <div class="ui stackable two column grid">
            <div class="column">
                <h3 style="font-family: Hack">
                    {% if subject.is_archived %}<i class="archive brown icon"></i>{% endif %}{{ subject.name|truncatechars:85 }}
                </h3>
            </div>
            <div class="column right aligned">
                {% if request.user|has_group:"Сотрудники" %}
                    <button id="trash-button" class="ui red small circular button" onclick="showDeleteSubject({{ subject.id }})"><i class="trash alternate outline icon"></i>Удалить</button>
                    <button id="update-button" class="positive ui small circular button" onclick="showUpdateSubject({{ subject.id }})"><i class="sync alternate icon"></i>Обновить</button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Tabs -->
    <div id="tabs-segment" class="ui basic segment">

        <!-- Tab's titles -->
        <div class="ui secondary menu" style="font-family: Hack">
            <a class="item active" data-tab="first"><i class="info green icon"></i>Сводная информация</a>
            <a class="item" data-tab="second"><i class="bullhorn orange icon"></i></i>Назначения</a>
            <a class="item" data-tab="third"><i class="users blue icon"></i></i>Студенты</a>
            <a class="item" data-tab="fourth"><i class="history red icon"></i>История изменений</a>
        </div>

        <!-- Tab 1 -->
        <!-- Details -->
        <div class="ui tab active" data-tab="first">
            <table class="ui definition table" style="max-width: 800px">
                <tbody>
                    <tr>
                        <td style="width: 400px">Семестр</td>
                        <td><div class="ui circular grey inverted label">{{ subject.semester.semester }}</div></td>
                    </tr>
                    <tr>
                        <td class="three wide">Группы</td>
                        {% if groups %}
                            <td class="left aligned">
                                {% for group in groups %}
                                    {% if group.groups.is_archived == True %}
                                        <a class="ui circular brown inverted label" onclick="window.location.href = '{% url 'groups:detail' groupname=group.groups semester=subject.semester.semester %}'">
                                            {{ group.groups }}-{{ subject.semester.semester }}
                                        </a>
                                    {% else %}
                                        <a class="ui circular grey inverted label" onclick="window.location.href = '{% url 'groups:detail' groupname=group.groups semester=subject.semester.semester %}'">
                                            {{ group.groups }}-{{ subject.semester.semester }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% else %}
                            <td class="negative">
                                <i class="icon close"></i> Не назначено
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Форма контроля</td>
                        <td>{{ subject.get_form_control_display }}</td>
                    </tr>
                    <tr>
                        <td>Факультет</td>
                            {% if subject.cathedra.faculty.short_name and subject.cathedra.faculty.name is not None %}
                        <td>
                            {{ subject.cathedra.faculty.name }}
                        </td>
                        {% else %}
                            <td class="negative collapsing">
                                <i class="icon close"></i> Нет
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Кафедра</td>
                        {% if subject.cathedra %}
                            <td>
                                {{ subject.cathedra|default_if_none:"" }}
                            </td>
                        {% else %}
                            <td class="negative collapsing">
                                <i class="icon close"></i> Нет
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>ЗЕТ</td>
                        {% if subject.zet %}
                            <td>
                                {{ subject.zet }}
                            </td>
                        {% else %}
                            <td class="negative collapsing">
                                <i class="icon close"></i> {{ subject.empty_zet }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Примечание</td>
                        <td>{{ subject.comment }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Tab 2 -->
        <!-- GroupSubjects -->
        <div class="ui tab" data-tab="second">
            {% if groups %}
                <table class="ui selectable compact small single line table">
                    <thead>
                        <tr class="center aligned">
                            <th class="one wide">Группа</th>
                            <th class="one wide">Семестр</th>
                            <th>Преподаватель</th>
                            <th>Дата аттестации</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gs in groups %}
                            <tr>
                                <td class="center aligned collapsing">
                                    <a onclick="window.location.href='{% url 'groups:detail' groupname=gs.groups.name semester=gs.subjects.semester.semester %}'">
                                        {{ gs.groups.name }}
                                    </a>
                                </td>
                                <td class="center aligned collapsing">{{ gs.subjects.semester.semester }}</td>
                                {% if gs.teacher %}
                                    <td>{{ gs.teacher }}</td>
                                {% else %}
                                    <td class="negative center aligned"><i class="icon close"></i>
                                        {{ gs.empty_teacher }}
                                    </td>
                                {% endif %}

                                {% if gs.att_date %}
                                    <td class="center aligned">
                                        {{ gs.empty_att_date }}
                                    </td>
                                {% else %}
                                    <td class="negative center aligned"><i class="icon close"></i>
                                        {{ gs.empty_att_date }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
            {% else %}
                <div class="ui one column centered grid">
                    <div class="one column"></div>
                    <div class="ui center aligned container">
                        <p>Назначений пока нет...</p>
                    </div>
                    <div class="one column"></div>
                </div>
            {% endif %}
        </div>

        <!-- Tab 3 -->
        <!-- Students -->
        <div class="ui tab" data-tab="third">
            {% if request.user|has_group:"Сотрудники" %}
                <table class="ui unstackable table">
                    <tbody>
                        <tr class="grey">
                            <td><h4 style="font-family: Hack">{{ subject.get_form_control_display }}</h4></td>
                            <td class="right aligned">
                                <button
                                    class="ui positive small animated circular icon button"
                                    style="font-family: Hack"
                                    tabindex="0"
                                    onclick="window.location.href = '{% url 'students:result_add' %}'">
                                    <div class="visible content"><i class="icon plus circle"></i> Добавить</div>
                                    <div class="hidden content">оценку</div>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}
            <table id="subject-students" class="ui selectable celled compact small table">
                <thead>
                    <tr class="center aligned">
                        <th class="collapsing">Семестр</th>
                        <th class="collapsing">Группа</th>
                        <th>Студент</th>
                        <th>Преподаватель</th>
                        <th>Дата аттестации</th>
                        <th name="mark">Оценка</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in students %}
                        <tr>
                            <td class="collapsing center aligned">{{ student.groupsubject.subjects.semester.semester }}</td>
                            <td class="collapsing center aligned">
                                <a href="{% url 'groups:detail' groupname=student.groupsubject.groups semester=student.groupsubject.subjects.semester.semester %}">
                                    {{ student.groupsubject.groups }}
                                </a>
                            </td>
                            <td>{% if student.students.is_ill %}<i class="heart broken red icon"></i>{% endif %}
                                {% if student.students.is_archived %}<i class="archive brown icon"></i>{% endif %}
                                <a href="{{ student.students.get_absolute_url }}">
                                    {{ student.students.fullname }}
                                </a>
                            </td>
                            {% if student.groupsubject.teacher %}
                                <td class="collapsing center aligned">
                                    {{ student.groupsubject.teacher }}
                                </td>
                            {% else %}
                                <td class="negative collapsing center aligned">
                                    <i class="icon close"></i>
                                    {{ student.groupsubject.empty_teacher }}
                                </td>
                            {% endif %}
                            {% if student.groupsubject.att_date %}
                                <td class="collapsing center aligned">
                                    {{ student.groupsubject.att_date }}
                                </td>
                            {% else %}
                                <td class="negative collapsing center aligned">
                                    <i class="icon close"></i>
                                    {{ student.groupsubject.empty_att_date }}
                                </td>
                            {% endif %}
                            <td class="two wide {% if student.mark|get_last_mark in "2нянз" %}negative{% endif %} center aligned">
                                <a href="{% if request.user|has_group:"Сотрудники" %}{% url 'students:result_update' student.id %}{% else %}#{% endif %}">
                                    <div class="ui equal width grid center aligned">
                                        <div name="mark" class="column">{{ student.mark|slice:":1"|unpack_mark }}</div>
                                        <div name="mark" class="column">{{ student.mark|slice:"1:2"|unpack_mark }}</div>
                                        <div name="mark" class="column">{{ student.mark|slice:"2:3"|unpack_mark }}</div>
                                    </div>
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Tab 4 -->
        <!-- History -->
        <div class="ui tab" data-tab="fourth">
            <table class="ui unstackable table">
                <tbody>
                    <tr class="blue">
                        <td class="left aligned"><i class="plus circle icon"></i> {{ subject.created_date }}</td>
                        <td class="right aligned"><i class="sync alternate icon"></i> {{ subject.updated_date }}</td>
                    </tr>
                </tbody>
            </table>
            {% if history %}
                <table id="subject-history" class="ui selectable celled compact small table">
                    <thead>
                        <tr class="center aligned">
                            <th>Дата и время</th>
                            <th>Автор</th>
                            <th>Свойство</th>
                            <th>Было</th>
                            <th>Стало</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for record in history %}
                            <tr>
                                <td class="center aligned collapsing">{{ record.timestamp|date:"d.m.y | H:i" }}</td>
                                <td class="collapsing">{{ record.user_id|get_user_last_name }}</td>
                                <td class="collapsing">{{ record.field }}</td>
                                {% if record.field == 'Attestaion date' %}
                                    <td>{{ record.old_value|date_or_else }}</td>
                                    <td>{{ record.new_value|date_or_else }}</td>
                                {% else %}
                                    <td>{{ record.old_value|default:"---"|truncatechars:40 }}</td>
                                    <td>{{ record.new_value|default:"---"|truncatechars:40 }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="ui one column centered grid">
                    <div class="one column"></div>
                    <div class="ui center aligned container">
                        <p>Изменений пока нет...</p>
                    </div>
                    <div class="one column"></div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal for delete subject -->
<div id="delete-modal" class="ui modal">
    <div class="basic center aligned header" style="font-family: Hack">Удалить дисциплину</div>
    <div class="content" style="font-family: Hack">
        <table class="ui definition table" style="margin-top: 0">
            <tbody>
                <tr>
                    <td>Название</td>
                    <td id="del-name"></td>
                </tr>
                <tr>
                    <td>Семестр</td>
                    <td id="del-semester"></td>
                </tr>
                <tr>
                    <td class="three wide">Группы</td>
                    <td id="del-groups" class="left aligned"></td>
                </tr>
                <tr>
                    <td>Форма контроля</td>
                    <td id="del-formcontrol"></td>
                </tr>
                <tr>
                    <td>Факультет</td>
                    <td id="del-faculty"></td>
                </tr>
                <tr>
                    <td>Кафедра</td>
                    <td id="del-cathedra"></td>
                </tr>
                <tr>
                    <td>ЗЕТ</td>
                    <td id="del-zet"></td>
                </tr>
                <tr>
                    <td>Примечание</td>
                    <td id="del-comment"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="delete-btn" class="ui red circular button" onclick="deleteSubject()" style="font-family: Hack"><i class="trash alternate outline icon"></i>Удалить</div>
    </div>
</div>

<!-- Modal for update subject -->
<div id="update-modal" class="ui large modal">
    <div class="basic center aligned header" style="font-family: Hack">Изменить дисциплину</div>
    <div class="content" style="font-family: Hack">
        <form id="update-form" method="POST">
            {% csrf_token %}
            <div class="ui form">
                <div class="required field">
                    <label>Полное название дисциплины</label>
                    {{ form.name }}
                </div>

                <div class="three fields">
                    <div id="formcontrol" class="required four wide field">
                        <label>Форма контроля</label>
                        {% render_field form.form_control _no_label='True' placeholder='Выбрать' %}
                    </div>

                    <div class="required two wide field">
                        <label>Семестр</label>
                        {% render_field form.semester _no_label='True' placeholder='Выбрать' %}
                    </div>
                    <div class="ten wide field">
                        <label>Кафедра</label>
                        {% render_field form.cathedra _no_label='True' placeholder='Выбрать' %}
                    </div>
                </div>
                
                <div class="three fields">
                    <div class="two wide field">
                        <label>ЗЕТ</label>
                        {% render_field form.zet _no_label='True' placeholder='72 (2)' %}
                    </div>
                    <div class="fourteen wide field">
                        <label>Примечание</label>
                        {{ form.comment }}
                    </div>
                </div>

                <div class="field">
                    {% render_field form.is_archived _no_label='True' %}
                </div>
            </div>
        </form>
    </div>
    <div class="basic actions">
        <div class="ui circular cancel button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</div>
        <div id="update-btn" class="ui blue circular button" onclick="updateSubject()" style="font-family: Hack"><i class="sync alternate icon"></i>Изменить</div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script_subject_detail.js' %}"></script>
<script type="text/javascript">
    // tabs
    $('.menu .item').tab();

    // datatables
    $(document).ready(function () {
        $('#subject-students').DataTable({
            language: {
                lengthMenu: '_MENU_ записей на страницу',
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
                paginate: {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            lengthMenu: [
                [20, 50, -1],
                [20, 50, 'Все']
            ],
            pageLength: 20,
            autoWidth: false,
            columnDefs: [
                { width: '8%', targets: 0 },
                { width: '10%', targets: 1 },
                { width: '45%', targets: 2 },
                { width: '13%', targets: 3 },
                { width: '12%', targets: 4 },
                { width: '13%', targets: 5 },
            ],
        });

        $('#subject-history').DataTable({
            language: {
                lengthMenu: '_MENU_ записей на страницу',
                zeroRecords: 'Записей нет...',
                info: 'Всего записей: _MAX_',
                infoEmpty: '',
                infoFiltered: 'Найдено: _TOTAL_',
                search: '',
                searchPlaceholder: 'поиск',
                paginate: {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            lengthMenu: [
                [20, 50, -1],
                [20, 50, 'Все']
            ],
            pageLength: 20,
            autoWidth: false,
            columnDefs: [
                { width: 150, targets: 0 },
                { width: 130, targets: 1 },
                { width: 130, targets: 2 },
            ],
            ordering: false,
        });
        var forms = document.forms;
        for (let i = 0; i < forms.length; i++) {
            var formElements = forms[i].elements;
            for (let j = 0; j < formElements.length; j++) {
                if (formElements[j].localName == "input" && formElements[j].type == "text") {
                    formElements[j].style.fontFamily = "Hack";
                };
            };
        };
        changeDatatableInputFont();
        deleteTitleBlockPaddingBottom();
        deleteTabsBlockPaddingBottom();
    });
</script>

{% endblock %}
