<!DOCTYPE html>

{% extends "base.html" %}

{% load static %}

{% load semanticui %}

{% block title %}Добавить дисциплину{% endblock %}

{% block content %}

<div class="ui container" style="font-family: Hack; width: 80%">
	<div class="ui segments">
        <div class="ui center aligned secondary segment">
            <h3 style="font-family: Hack">Добавить дисциплину</h3>
        </div>

        <!-- Form -->
        <div class="ui left aligned segment">
            <form id="form" action="{% url 'subjects:add' %}" method="post">
                {% csrf_token %}
                <div class="ui large form">
                    <div class="required field">
                        <label>Полное название дисциплины</label>
                        {{ form.name }}
                    </div>

                    <div class="four fields">
                        <div class="required three wide field">
                            <label>Форма контроля</label>
                            {% render_field form.form_control _no_label='True' placeholder='Выбрать' %}
                        </div>

                        <div class="required two wide field">
                            <label>Семестр</label>
                            {% render_field form.semester _no_label='True' placeholder='Выбрать' %}
                        </div>
                        <div class="nine wide field">
                            <label>Кафедра</label>
                            {% render_field form.cathedra _no_label='True' placeholder='Выбрать' %}
                        </div>
                        <div class="two wide field">
                            <label>ЗЕТ</label>
                            {% render_field form.zet _no_label='True' placeholder='72 (2)' %}
                        </div>
                    </div>

                    <div class="field">
                        <label>Примечание</label>
                        {% render_field form.comment _no_label='True' %}
                    </div>

                    <div class="field">
                        {% render_field form.is_archived _no_label='True' %}
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="ui right aligned secondary segment">
                <a href="{% url 'subjects:subjects' %}">
                    <button type="button" class="ui circular button" style="font-family: Hack"><i class="times circle icon"></i>Отмена</button>
                </a>
                <button type="submit" class="positive ui circular button" style="font-family: Hack"><i class="save icon"></i>Сохранить</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
    changeFormsInputFont();
    // calendar
    $(function () {
        $("#id_att_date").datepicker({
            weekStart: 1,
            daysMin: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
            monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            format:'dd.mm.yyyy',
            autoHide: true,
        });
    });
</script>

{% endblock %}
